
<nav class="collapse multi-collapse col-sm-3 bg-light sidebar" id="left_menu">
  <div class="sidebar-sticky">
    <% if user_signed_in?  %>
      <ul class="nav flex-column mb-2 px-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= user_path(current_user.slug) %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span><%= user.username %></span>
          </a>
        </li>
      </ul>

      <hr class="my-2" />

      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 text-muted">REPOSITORIES</h6>

      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "My repositories", user_repositories_path(current_user.slug), class:"nav-link" %>
          <!-- <a class="nav-link" href="<%= user_repositories_path(current_user.slug) %>">
            <h6 style="font-size: 12px; color: #aaa;">REPOSITORIES</h6>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-2 text-muted">MY REPOSITORIES</h6>
          </a> -->
        </li>

        <!-- <li class="nav-item">
          <form class="form mx-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Repositories" aria-label="Search">
          </form>
        </li> -->

        <% if user.repositories.present? %>
          <% user.repositories.each do |repo| %>
            <li class="nav-item pl-md-2">
              <a href="<%= user_repository_path(user, repo) %>" class="nav-link">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg> -->
                <i class="fa fa-lock"></i>
                <%= user_repository_path(user, repo) %>
                <!-- <i class="fa fa-lock text-primary mx-2"></i><i class="fa fa-database text-primary mx-2"></i> -->
              </a>
            </li>
          <% end %>
        <% end %>

        <li class="nav-item">
          <%= link_to "+ Add Repository", new_user_repository_path(current_user), class:"nav-link" %>
        </li>

      </ul>
    <% else %>
      <ul class="nav flex-column mb-2 px-0">

        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>

            <span>Hello Guest</span>
          </a>
        </li>
        <li class="nav-item text-center">
          <h5>Join Omnilint</h5>
          <p>
            Sign up for your own profile on Omnilint,
            and benefit from the most secure code hosting.
          </p>
        </li>
        <li class="nav-item mx-auto">
          <%= link_to "Create my account", new_user_registration_path	, class: "btn btn-dark " %>
        </li>
      </ul>
      <ul class="nav flex-column mb-2 px-0">
        <li class="nav-item text-center">
          <h6>Already a member ?</h6>
          <%= link_to "Sign In", new_user_session_path	, class: "btn btn-outline-dark " %>
        </li>
      </ul>

    <% end %>

    <hr class="my-2" />
    
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-2 text-muted">PROFILE</h6>


    <ul class="nav flex-column mb-2 px-0">
      <li class="nav-item">
        <%= link_to "Profile", user_repositories_path(current_user.slug), class:"nav-link" %>
        <%= link_to "SSH Keys", user_repositories_path(current_user.slug), class:"nav-link" %>
        <%= link_to "Billing", user_repositories_path(current_user.slug), class:"nav-link" %>
      </li>
    </ul>

    <hr class="my-2" />


    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-2 text-muted">LANGUAGE</h6>


    <div class="container">
      <select class="custom-select" id="language_switch">
        <option value="en" <%= 'selected' if I18n.locale == :en %>>English</option>
        <option value="fr" <%= 'selected' if I18n.locale == :fr %>>Français</option>
        <option value="he" <%= 'selected' if I18n.locale == :he %>>עברית</option>
        <option value="ru" <%= 'selected' if I18n.locale == :ru %>>русский</option>
      </select>
    </div>

  </div>
</nav>
