<div class="container my-5">

  <h2 class="text-center">Contact us</h2>
  <p class="text-center mb-4">Send us a message and a representative will answer you shortly.</p>
  <div class="mx-auto" style="max-width: 600px;">
    <%= bootstrap_form_with(model: @message, local: true) do |form| %>
      <% if @message.errors.any? %>
        <div id="error_explanation" class="text-danger">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
          <ul>
          <% @message.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col">
          <%= form.text_field :name, id: :message_name, placeholder: "Your name" %>
        </div>
        <div class="col">
          <%= form.email_field :email, id: :message_email, placeholder: "Your email address" %>
        </div>
      </div>

      <div class="field">
        <%= form.text_area :text_body, id: :message_message, rows: 6, placeholder: "Your message" %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>

</div>
