<div class="container py-3">
  <p><%= link_to raw('&larr; Back to messages'), :back %></p>
  <p class="mt-4">
    From: <strong><%= @message.name %> <%= @message.email.present? ? "<#{@message.email}>" : '' %></strong>
    <br />
    To: <strong><%= @message.to_email %></strong>
  </p>
  <h1><%= @message.subject %></h1>
  <% if @message.html_body.present? %>
    <div class="card mb-4">
      <div class="card-header">
        HTML Body
      </div>
      <div class="card-body">
        <%= raw @message.html_body %>
      </div>
    </div>
  <% elsif @message.text_body.present? %>
    <div class="card mb-4">
      <div class="card-header">
        Text Body
      </div>
      <div class="card-body">
        <%= raw @message.text_body %>
      </div>
    </div>
  <% else %>
    <div class="card mb-4">
      <div class="card-body text-center">
        <p class="my-4 text-muted">No Content</p>
      </div>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header">
      Raw Post
    </div>
    <div class="card-body">
      <p><%= @message.raw_post %></p>
    </div>
  </div>
  <p class="my-3"><%= link_to raw('&larr; Back to messages'), :back %></p>
</div>
