<%= bootstrap_form_for(@repository, url: @form_url, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9") do |form| %>


<% if @repository.errors.any? %>
  <div id="error_explanation" class="text-danger text-center">
    <h5><%= pluralize(@repository.errors.count, "error") %> prohibited this repository from being saved:</h5>
    <ul class="list-unstyled">
    <% @repository.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <style media="screen">
    .card-body{
      padding-left: 10px;
      padding-right: 10px;
    }
  </style>





  <div class="mb-3">
    <div class="pt-3">
      <% if @repository.id.present? %>
        <%= form.text_field :name, id: :repository_name, label: { text: "Name" }, help: "The name of your repository.", prepend: "#{@repository.user.slug}/", input_group_class: "input-group-lg mb-0", id: "name_field", placeholder: "My Great Repo", autofocus: true, disabled: true %>
      <% else %>
        <%= form.text_field :name, id: :repository_name, label: { text: "Name" }, help: "The name of your repository.", prepend: "#{current_user.slug}/", input_group_class: "input-group-lg mb-0", id: "name_field", placeholder: "my-great-repo", autofocus: true %>
      <% end %>
    </div>
  </div>



  <div class="mb-3">
    <div class="row">
      <div class="col-3">
        Slug
      </div>
      <div class="col-9">
        <div id="permalink_show">
          <div>
            <%= request.base_url %>/<%= current_user.username %>/<span id="permalink" style="font-weight:bold; background-color: #FFFFD6;"><%= @repository.slug || "my-great-repo" %></span>
          </div>
          <a href="#" id="permalink_edit">Edit</a>
        </div>

        <div id="edit_permalink_row" style="display: none;">
          <%= form.text_field :slug, id: :repository_slug, placeholder: "my-great-repo", hide_label: true %>
          <div class="help-block">The slug can't be changed later. <a href="#" id="permalink_ok" class="">OK</a></div>
        </div>

      </div>
    </div>
  </div>



  <%= form.form_group :status, label: { text: "Visibility status" }, help: "The visibility status of your repository." do %>
    <div class="card mb-2">
      <div class="card-body py-2">
          <%= form.radio_button :status, "Public", label: "Public", checked: true %>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body py-2">
        <%= form.radio_button :status, "Private", label: "Private" %>
      </div>
    </div>
  <% end %>





  <div class="actions mb-3">
    <%= form.submit "CONFIRM", class: "btn btn-lg btn-success btn-block" %>
  </div>

<% end %>





  <script type="text/javascript">


    function convertToSlug(Text) {
      return Text
        .toLowerCase()
        .replace(/[^\w ]+/g,'')
        .replace(/ +/g,'-')
        ;
    }

    function convertSelfToSlug(Text) {
      return Text
        .toLowerCase()
        .replace(/ /g,'-')
        .replace(/[^\w-]+/g,'')
        ;
    }



    $( "#permalink_edit" ).click(function() {
      $("#edit_permalink_row").show();
      $("#permalink_show").hide();
      $("#repository_slug").focus();
    });

    $( "#permalink_ok" ).click(function() {
      $("#edit_permalink_row").hide();
      $("#permalink_show").show();
      $("#name_field").focus();
    });



    $("#name_field").keyup(function() {
      var value = $(this).val()
            .toLowerCase()
            .replace(/[^\w ]+/g,'')
            .replace(/ +/g,'-')
            ;

      $("#permalink").html( value );
      $("#repository_slug").val( value );
    })


    $("#repository_slug").keyup(function() {
      var value = $(this).val()
            .toLowerCase()
            .replace(/ /g,'-')
            .replace(/[^\w-]+/g,'')
            .replace(/-+/g,'-')
            ;
      $(this).val(value);
      $("#permalink").html( value );
    })

    $("#repository_slug").blur(function() {
      var value = $(this).val().replace(/-$/,'');
      $(this).val(value);
      $("#permalink").html( value );
    })
  </script>
