<style>
  .scrollmenu {
    /* background-color: #e6e6e6; */
    /* background-color: #e1e2e3; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: center;
    /* border-top: 1px solid #cfd4d9; */
    border-bottom: 1px solid rgba(0,0,0,0.045);


    /* padding-top: 10px;
    padding-bottom: 5px; */


    padding-top: 15px;
    padding-bottom: 10px;


    /* border-top: 1px solid #cfd4d9; */
    /* margin-right: 15px; */
    /* background: url('/images/menu-hide-right.png'); */
  }



  .scrollmenu::-webkit-scrollbar {
    display: none;
  }

  .scrollmenu i {
    width: 48px;
    height: 48px;
    /* border-radius: 5px; */
    border-radius: 99px;
    /* border: 1px solid #ccc; */
    border: 1px solid #ccc;
    background-color: #fff;
    color: #6c757d;
    /* font-size: 26px; */
    font-size: 22px;
    padding: 2px;
    padding-top: 13px;
    margin-bottom: 2px;
    text-align: center;
  }

  .scrollmenu a {
    display: inline-block;
    color: #6c757d;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-family: Arial;
  }

  .scrollmenu a.active {
    /* color: #111 !important; */
    color: #327bf6 !important;
    /* color: #006ee0 !important; */
  }



  .scrollmenu a:last-child i {
    /* margin-right: 15px; */
  }

  .scrollmenu a:hover i {
    /* border-color: #ccc; */
    border-color: #aaa;
  }

  .scrollmenu a.active i {
    /* color: #327bf6 !important; */
    color: #006ee0 !important;
    background-color: #c7e1fc !important;
    border: 1px solid #006ee0 !important;
  }

  /* .scrollmenu a:hover .scrollmenu-title {
    width: 58px;
    overflow: hidden;
    padding-bottom: 0;
  } */

  .scrollmenu-title {
    /* width: 58px; */
    width: auto;
    min-width: 60px;
    overflow: hidden;
    padding-bottom: 0;
  }

  /* .scrollmenu a:hover {
    color: #111 !important;
  } */


</style>

<section class="scroll-overlay" style="position: relative; overflow-y: hidden">
  <img src="/images/menu-hide-left.png" class="d-block d-lg-none" alt="" style="position: absolute; top: 0; left: 0; z-index:2; pointer-events: none; opacity: 0.8" onclick="return true;">
  <img src="/images/menu-hide-right.png" class="d-block d-lg-none" alt="" style="position: absolute; top: 0; right: 0; z-index:2; pointer-events: none; opacity: 0.8" onclick="return true;">

  <div class="scrollmenu bg-light" style="background-color: #f0f1f2 !important">
    <div class="container-fluid">
      <% if current_page?(user_repository_path(repository.user, repository)) && controller.action_name != "settings" %>
        <a href="<%= user_repository_path(repository.user, repository) %>" class="ml-4 active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-dashboard scrollmenu-icon" style="padding-top: 10px; padding-right: 1px;"></i>
            <div class="text-center scrollmenu-title">Overview</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_path(repository.user, repository) %>" class="ml-4" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-dashboard scrollmenu-icon" style="padding-top: 10px; padding-right: 1px;"></i>
            <div class="text-center scrollmenu-title">Overview</div>
          </div>
        </a>
      <% end %>


      <% if controller.action_name == "repository_policies" %>
        <a href="<%= policy_user_repository_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-shield scrollmenu-icon" style="position: relative;">
              <% if repository.policy.present? %>
                <span class="badge badge-pill badge-secondary text-white" style="position: absolute; top: -2px; right: -2px; font-size: 12px; padding: 3px 4px 3px 5px;"><%= repository.policy.policy_rules.count %></span>
              <% end %>
            </i>
            <div class="text-center scrollmenu-title">Policy</div>
          </div>
        </a>
      <% else %>
        <a href="<%= policy_user_repository_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-shield scrollmenu-icon" style="position: relative;">
              <% if repository.policy.present? %>
                <span class="badge badge-pill badge-secondary text-white" style="position: absolute; top: -2px; right: -2px; font-size: 12px; padding: 3px 4px 3px 5px;"><%= repository.policy.policy_rules.count %></span>
              <% end %>
            </i>
            <div class="text-center scrollmenu-title">Policy</div>
          </div>
        </a>
      <% end %>

      <% if controller.controller_name == "commit_attempts" %>
        <a href="<%= user_repository_commit_attempts_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-arrow-circle-up scrollmenu-icon" style="padding-left: 3px;"></i>
            <div class="text-center scrollmenu-title">Attempts</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_commit_attempts_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-arrow-circle-up scrollmenu-icon" style="padding-left: 3px;"></i>
            <div class="text-center scrollmenu-title">Attempts</div>
          </div>
        </a>
      <% end %>

      <% if controller.controller_name == "commits" %>
        <a href="<%= user_repository_commits_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-code-fork scrollmenu-icon" style="padding-left: 5px;"></i>
            <div class="text-center scrollmenu-title">Commits</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_commits_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-code-fork scrollmenu-icon" style="padding-left: 5px;"></i>
            <div class="text-center scrollmenu-title">Commits</div>
          </div>
        </a>
      <% end %>

      <!--

      <% if controller.controller_name == "documents" %>
        <a href="<%= user_repository_documents_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-folder scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">Files</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_documents_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-folder scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">Files</div>
          </div>
        </a>
      <% end %>
    -->


      <% if controller.controller_name == "repository_accesses" %>
        <a href="<%= user_repository_repository_accesses_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-users scrollmenu-icon" style="position: relative;">
              <% if repository.repository_accesses.length > 0 %>
                <span class="badge badge-pill badge-secondary text-white" style="position: absolute; top: -2px; right: -2px; font-size: 12px; padding: 3px 4px 3px 5px;"><%= repository.repository_accesses.length %></span>
              <% end %>
            </i>
            <div class="text-center scrollmenu-title">Access</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_repository_accesses_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-users scrollmenu-icon" style="position: relative;">
              <% if repository.repository_accesses.length > 0 %>
                <span class="badge badge-pill badge-secondary text-white" style="position: absolute; top: -2px; right: -2px; font-size: 12px; padding: 3px 4px 3px 5px;"><%= repository.repository_accesses.length %></span>
              <% end %>
            </i>
            <div class="text-center scrollmenu-title">Access</div>
          </div>
        </a>
      <% end %>

<!--
      <% if controller.controller_name == "issues" %>
        <a href="<%= user_repository_issues_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-exclamation-triangle scrollmenu-icon" style="padding-left: 3px; position: relative;">
              <% if repository.issues.where(status: 'open').length > 0 %>
                <span class="badge badge-pill badge-light text-white" style="position: absolute; top: -2px; right: -2px; font-size: 12px; padding: 3px 4px 3px 5px; background-color: red;"><%= repository.issues.where(status: 'open').length %></span>
              <% end %>
            </i>
            <div class="text-center scrollmenu-title">Issues</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_issues_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-exclamation-triangle scrollmenu-icon" style="padding-left: 3px; position: relative;">
              <% if repository.issues.where(status: 'open').length > 0 %>
                <span class="badge badge-pill badge-light text-white" style="position: absolute; top: -2px; right: -2px; font-size: 12px; padding: 3px 4px 3px 5px; background-color: red;"><%= repository.issues.where(status: 'open').length %></span>
              <% end %>
            </i>
            <div class="text-center scrollmenu-title">Issues</div>
          </div>
        </a>
      <% end %>
-->

<!--
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-database scrollmenu-icon" style="padding-left: 3px;"></i>
            <div class="text-center scrollmenu-title">Hosting</div>
          </div>
        </a>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-wrench scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">Buildpacks</div>
          </div>
        </a>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-hand-o-up scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">Buttons</div>
          </div>
        </a>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-bar-chart scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">Stats</div>
          </div>
        </a>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-star scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">Ratings</div>
          </div>
        </a>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-arrow-down scrollmenu-icon"></i>
            <div class="text-center scrollmenu-title">PRs</div>
          </div>
        </a> -->

      <% if controller.controller_name == "repositories" && controller.action_name == "settings" %>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto active" aria-selected="true">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-cog scrollmenu-icon" style="padding-left: 3px; position: relative;"></i>
            <div class="text-center scrollmenu-title">Settings</div>
          </div>
        </a>
      <% else %>
        <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mx-auto" aria-selected="false">
          <div class="text-center" style="display:inline-block;">
            <i class="fa fa-cog scrollmenu-icon" style="padding-left: 3px; position: relative;"></i>
            <div class="text-center scrollmenu-title">Settings</div>
          </div>
        </a>
      <% end %>

      <!-- <a href="<%= user_repository_settings_path(repository.user, repository) %>" class="mr-5" aria-selected="false">
        <div class="text-center" style="display:inline-block;">
          <i class="fa fa-plus scrollmenu-icon" style="border-style: dashed; color: #aaa;"></i>
          <div class="text-center scrollmenu-title" style=" color: #aaa;">Add button</div>
        </div>
      </a> -->


    </div>
  </div>

</section>
