
<div class="container py-4 py-lg-5">

  <h2>Repositories</h2>


  <div class="row">
    <div class="col-12 col-md-7 col-lg-8">
      <% if @my_repositories.length > 0 %>
        <h6 class="my-3 text-muted" style="text-transform: uppercase;">My repositories</h6>
        <%= render "users/user_repositories", repositories: @my_repositories %>
      <% end %>
    </div>
    <div class="col-12 col-md-5 col-lg-4">

    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-7 col-lg-8">
      <% if @repositories.length > 0 %>
        <h6 class="my-3 text-muted" style="text-transform: uppercase;">Public repositories</h6>
        <%= render "users/user_repositories", repositories: @repositories %>
      <% end %>
    </div>
    <div class="col-12 col-md-5 col-lg-4">

    </div>
  </div>


<!--
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-muted">ID</th>
        <th>Author</th>
        <th>Name</th>
        <th>Status</th>
        <th style="width: 200px; text-align: right;"></th>
      </tr>
    </thead>

    <tbody>
      <% @repositories.each do |repository| %>
        <tr>
          <td  class="text-muted"><%= repository.id %></td>
          <td><%= repository.user.username %></td>
          <td><%= repository.name %></td>
          <td><%= repository.status %></td>
          <td>
            <%= link_to 'Show', user_repository_path(@user, repository),  class: "btn btn-sm btn-primary" %>
            <% if user_signed_in? && params[:user_id] == current_user.slug %>
              <%= link_to 'Edit', edit_user_repository_path(repository.user, repository.slug),  class: "btn btn-sm btn-info" %>
              <%= link_to 'Destroy', user_repository_path(@user, repository), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> -->

  <br>

  <!-- <%= link_to 'New Repository', new_user_repository_path(current_user) %> -->
</div>
