<!-- <section class="">

  <div class="container" style="padding-top: 12px; padding-bottom: 8px;">



    <% if repository.platform.present? %>
      <img class="img-thumbnail" src="<%= repository.platform.image_url %>" alt="<%= repository.platform %>" style="width: 80px; height: 80px; float: left; margin-right: 10px; margin-bottom: 5px; border-radius: 8px; justify-content: center;align-items: center;display: flex;" />
    <% else %>
      <img class="img-thumbnail" src="/images/platformicons/svg/generic.svg" alt="<%= repository.platform %>" style="width: 80px; height: 80px; float: left; margin-right: 10px; margin-bottom: 5px; border-radius: 8px; justify-content: center;align-items: center;display: flex;" />
    <% end %>



    <h5 style="margin-top: 27px;">
      <a href="<%= user_path(repository.user) %>"><%= repository.user.slug.downcase %></a>
      <span class="text-muted"> / </span>
      <a href="<%= user_repository_path(@user, repository) %>"><%= repository.slug.downcase %></a>
        <% if repository.status == 'Private' %>
          <i class="fa fa-eye-slash text-muted ml-1"></i>
        <% end %>
        <% if repository.has_encryption %>
          <i class="fa fa-lock text-muted"></i>
        <% end %>
      <small>
        <% if repository.requires_two_step_authentication %>
          <i class="fa fa-shield text-muted"></i>
        <% end %>
        <% if repository.has_deployment %>
          <i class="fa fa-desktop text-muted"></i>
        <% end %>
      </small>
    </h5>

    <div style="clear: both;"></div>

  </div>
</section> -->

<%= render "repositories/secondary_menu", repository: @repository %>
