<%= lint_form_for(@repository_access, url: @form_action) do |form| %>

  <% if repository_access.errors.any? %>
    <div id="error_explanation">
      <h5 class="text-danger"><%= pluralize(repository_access.errors.count, "error") %> prohibited this repository_access from being saved:</h5>

      <ul>
      <% repository_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= render "search/search_users_light" %>
  </div>


  <strong><%= form.label :role %></strong>

  <%= form.form_group :role, help: "The permissions of the user for this repository." do %>
    <%#= form.radio_button :role, 'read_only', label: raw("Read-only <span class='text-muted'>- Read only permissions</span>") %>
    <%= form.radio_button :role, 'contributor', label: raw("Contributor <span class='text-muted'>- Read + Write permissions</span>"), checked: true %>
    <%= form.radio_button :role, 'admin', label: raw("Admin <span class='text-muted'>- All permissions</span>") %>
  <% end %>

  <strong><%= form.label :enable_email_notifications %></strong>
  <%= form.form_group :enable_email_notifications, help: "Enable email notification on commit attempt to Commiter." do %>
    <%= form.check_box :enable_email_notifications, label: "Send email to Commiter" %>
  <% end %>

  <strong><%= form.label :enable_admin_email_notifications %></strong>
  <%= form.form_group :enable_admin_email_notifications, help: "Enable email notification on commit attempt to Repository Admins." do %>
    <%= form.check_box :enable_admin_email_notifications, label: "Send email to Admins" %>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id %>
  </div>

  <div class="actions text-right">
    <%= form.primary %>
  </div>
<% end %>
