<section class="bg-dark text-white" style="height: 150px;">
  <div class="container py-5">
    <a href="" class="text-white">
      <% if @user.avatar_url.present? %>
        <img src="<%= @user.avatar_url %>" alt="<%= @user %>" class="img-thumbnail mr-4" style="width: 150px; height: 150px; float: left; border-radius: 80px;">
      <% elsif @user.is_organization? %>
        <img src="/images/organization-blank.jpg" alt="<%= @user %>" class="img-thumbnail mr-4" style="width: 150px; height: 150px; float: left; border-radius: 80px;">
      <% else %>
        <img src="/images/user-blank.png" alt="<%= @user %>" class="img-thumbnail mr-4" style="width: 150px; height: 150px; float: left; border-radius: 80px;">
      <% end %>
    </a>
    <a href="" class="text-white">
      <h3 class="mt-5">
        <%= @user.username %>
      </h3>
    </a>
  </div>
</section>

<section class="bg-white pt-3 pb-3 border-bottom border-top">
  <% if current_user == @user %>
    <!-- <button type="button" name="button" class="btn btn-outline-dark btn-sm">Edit my Profile</button> -->

    <%= link_to 'Edit profile', edit_user_path(@user.slug),  class: "btn btn-sm btn-outline-info" %>
    <!-- <%= link_to 'Destroy', user_path(@user), method: :delete, data: { confirm: "Are you sure you want to delete your account? This is DEFINITIVE and CANNOT BE CANCELLED." }, class: "btn btn-sm btn-outline-danger" %> -->


  <% else %>
    <button type="button" name="button" class="btn btn-outline-dark btn-sm">Follow</button>
  <% end %>

  <% if user_signed_in? && current_user.role == 'admin' %>
    <%= link_to 'Admin', admin_path,  class: "btn btn-outline-dark btn-sm" %>
  <% end %>
</section>

<!-- <section class="bg-gatrix" style="background-color: #e6e6e6; clear: both;"> -->
<!-- <section class="" style="clear: both;"> -->
<!-- <section class="" style="background-color: #e1e2e3;">  -->
<section class=""  style="background-color: #eeeff0;">
  <div class="container py-4">



    <div class="row">
      <div class="col-12 col-md-7 col-lg-8">

        <% if @repositories.length > 0 %>
          <% if @repositories.length == 1 %>
            <p class="my-2 text-muted"><small>1 PUBLIC REPOSITORY</small></p>
          <% else %>
            <p class="my-2 text-muted"><small><%= @repositories.length %> PUBLIC REPOSITORIES</small></p>
          <% end %>
        <%= render "user_repositories", repositories: @repositories %>
        <% else %>
          <%= render "repositories/tabs/empty" %>
        <% end %>

      </div>


      <div class="col-12 col-md-5 col-lg-4" style="font-size: 14px; color: #333;">

<!--

          <div class="card mb-3 box-shadow">
            <div class="card-header">
              <img src="/images/gatrix-desktop-icon.png" alt="" width="24" height="24" class="mr-1" />
              GATRIX DESKTOP
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <img src="/images/gatrix-desktop-icon.png" alt="" width="70" height="70" class="img-fluid" />
                </div>
                <div class="col-8">
                  <h6 class="mt-1 mb-0">Download Gatrix Desktop</h6>
                  <p class="mb-2 text-success">Free</p>
                </div>
              </div>

              <% if browser.platform.mac? %>
                <p class="mt-3 mb-0">
                  <a href="https://git.gatrix.io/gatrix/desktop/GatrixDesktop.dmg" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-apple"></i>
                    Download for Mac
                  </a>
                </p>
              <% elsif browser.platform.windows? %>
                <p class="mt-3 mb-0">
                  <a href="https://git.gatrix.io/gatrix/desktop/GatrixDesktopSetup.exe" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-windows"></i>
                    Download for windows
                  </a>
                </p>
                <% elsif browser.platform.linux? %>
                <p class="mt-3 mb-0">
                  <a href="https://git.gatrix.io/gatrix/desktop/GatrixDesktop.AppImage" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-windows"></i>
                    Download for Linux
                  </a>
                </p>
              <% else %>
                <p class="mt-3 mb-0">
                  <a href="https://git.gatrix.io/gatrix/desktop/GatrixDesktop.dmg" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-apple"></i>
                    Download for Mac
                  </a>
                </p>
              <% end %>

            </div>

          </div>




          <div class="card mb-3 bg-dark text-white box-shadow">
            <div class="card-header">
              <img src="/images/gatrix-mobile-icon.png" alt="" width="24" height="24" class="mr-1" />
              GATRIX CONNECT
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img src="/images/gatrix-mobile-icon.png" alt="" width="70" height="70" class="img-fluid" />
                </div>
                <div class="col-9">
                  <h6 class="mt-1 mb-0">Download Gatrix Connect</h6>
                  <p class="mb-2">Download from App Store</p>
                </div>
              </div>

              <% if browser.platform.mac? %>
                <p class="mt-3 mb-0">
                  <a href="https://play.google.com/store/apps/details?id=io.gatrix.apps.gatrix" class="btn btn-block btn-success my-2">
                    <i class="fa fa-apple"></i>
                    Download for iOS
                  </a>
                </p>
              <% elsif browser.platform.android? %>
                <p class="mt-3 mb-0">
                  <a href="https://play.google.com/store/apps/details?id=io.gatrix.apps.gatrix" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-linux"></i>
                    Download for Android
                  </a>
                </p>
              <% end %>
            </div>
          </div> -->







      </div>
    </div>
  </div>
</section>
