<!-- <section class="bg-gatrix" style="background-color: #e1e2e3;"> -->
<section class="" style="background-color: #eeeff0;">
<!-- <section> -->
<!-- <section class=""> -->
  <div class="container py-4 py-lg-5">
    <!-- <h2>Dashboard</h2> -->
    <!-- <h2 class="mb-0">Welcome, <%= current_user.username %>.</h2> -->
    <h2 class="mb-0"><%= current_user.greet %>.</h2>


  <!--
    <div class="row">
      <div class="col-12 col-md-8"> -->



    <div class="row">
      <div class="col-12 col-md-7 col-lg-8">



        <% if @public_repositories_count == 0 && @private_repositories_count == 0 %>
          <div class="text-center my-3 bg-light">
            <a href="<%= new_user_repository_path(current_user) %>" class="text-dark">
              <div class="card pt-4 pt-md-5 pb-4 pb-md-5 box-shadow">
                <div class="card-body">
                  <!-- <h4>Welcome, <%= current_user.username %>.</h4> -->

                  <img src="/images/assistant/svg/gatrix-assistant-icon.svg" alt="Gatrix Assistant" class="mb-3" width="128" height="128">
                  <h4 class="mb-3" style="color: #205aa7">You don't have any repository yet.</h4>
                  <!-- <h4 class="mb-3" style="color: #205aa7">It seems that you don't have any repository yet.</h4> -->
                  <p class="mb-3">Get started by creating your first repository.</p>
                  <p class="mb-0"><button class="btn btn-lg btn-primary">+ Add repository</button></p>
                </div>
              </div>
            </a>
          </div>
        <% end %>

        <% @organizations_of_current_user.each do |org|%>
          <% if org.repositories.length > 0 %>
            <% if org.repositories.length == 1 %>
              <p class="my-2 text-muted"><small>1 <%= org.username.upcase %>'S REPOSITORY</small></p>
            <% else %>
              <p class="my-2 text-muted"><small><%= org.repositories.length %> <%= org.username.upcase %>'S REPOSITORIES</small></p>
            <% end %>
            <%= render "users/user_organizations_repositories", repositories: org.repositories %>
          <% end %>
        <% end %>

        <% if @private_repositories.length > 0 %>
          <% if @private_repositories.length == 1 %>
            <p class="my-2 text-muted"><small>1 PRIVATE REPOSITORY</small></p>
          <% else %>
            <p class="my-2 text-muted"><small><%= @private_repositories.length %> PRIVATE REPOSITORIES</small></p>
          <% end %>
          <%= render "users/user_repositories", repositories: @private_repositories %>
        <% end %>

        <% if @public_repositories.length > 0 %>
          <% if @public_repositories.length == 1 %>
            <p class="mb-2 text-muted"><small>1 PUBLIC REPOSITORY</small></p>
          <% else %>
            <p class="mb-2 text-muted"><small><%= @public_repositories.length %> PUBLIC REPOSITORIES</small></p>
          <% end %>
          <%= render "users/user_repositories", repositories: @public_repositories %>
        <% end %>
      </div>


      <div class="col-12 col-md-5 col-lg-4" style="font-size: 14px; color: #333;">

        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-user-circle mr-1"></i>
            ACCOUNT
          </div>
          <div class="card-body bg-light">
            <div class="progress mb-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p class="mb-2">Profile 25% complete</p>
            <ul class="list-unstyled mb-2">
              <!-- <li>Name entered: <strong><%= @user.has_two_step_authentication ? 'Yes' : 'No' %></strong></li> -->
              <li>Email validation: <strong><%= @user.has_two_step_authentication ? 'Yes' : 'No' %></strong></li>
              <li>Phone validation: <strong><%= @user.has_two_step_authentication ? 'Yes' : 'No' %></strong></li>
            </ul>
            <p class="mb-0">
              <!-- <a href="<%= edit_user_path(@user) %>" class="btn btn-outline-success btn-sm">Complete profile</a> -->
              <% if defined? edit_user_registration_path %>
              <a href="<%= edit_user_registration_path %>" class="btn btn-outline-success btn-sm">Complete profile</a>
              <% end %>
            </p>
          </div>
        </div>
        <% if @organizations_of_current_user.count > 0 %>
            <div class="card my-3 box-shadow">
              <div class="card-header text-muted">
                <i class="fa fa-building-o mr-1"></i>
                ORGANIZATIONS
              </div>
              <div class="card-body bg-light">
                <ul class="list-unstyled mb-0">
                  <li></li>

                  <% @organizations_of_current_user.each do |org| %>
                    <li><%= link_to org %></li>

                    <li><%= "- Teams" %></li>
                    <ul>
                      <% Team.where(user_id: org).each do |team| %>
                        <% if Membership.where(user_id: @user, team: team).length > 0 %>

                          <li><%= link_to "#{org.username}/#{team.name}", team_path(team) %></li>
                        <% end %>

                      <% end %>
                    </ul>

                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>






        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-lock mr-1"></i>
            SECURITY
          </div>
          <div class="card-body bg-light">
            <ul class="list-unstyled mb-0">
              <li>Browser: <strong><%= browser.name %></strong></li>
              <li>OS: <strong><%= browser.platform.name %></strong></li>
              <li>Device: <strong><%= browser.device.name %></strong></li>
              <li>Smart IP: <strong><%= @smart_ip %></strong></li>
              <li>IP: <strong><%= request.ip %></strong></li>
              <li>Remote IP: <strong><%= request.remote_ip %></strong></li>
              <li>Current sign in: <strong><%= @user.current_sign_in_at.to_s(:short) %></strong></li>
              <li>Current sign in IP: <strong><%= @user.current_sign_in_ip %></strong></li>
              <li>2FA enabled: <strong><%= @user.has_two_step_authentication ? 'Yes' : 'No' %></strong></li>
              <!-- <li>Last sign in: <strong><%= @user.last_sign_in_at.to_s(:short) %></strong></li>
              <li>Last sign in IP: <strong><%= @user.last_sign_in_ip %></strong></li> -->
            </ul>
          </div>
        </div>


        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            LINK
          </div>
          <div class="card-body bg-light pt-3">
            <!-- <p>Link to your profile:</p> -->
            <div class="qrcode">
              <%# raw @qrcode_html %>
              <div class="pull-right ml-3">
                <%= raw @qrcode_svg %>
              </div>
              <!-- <h6>Scan to open</h6> -->
              <p>Scan this QR code with your mobile phone to load this project immediately.</p>

            </div>
          </div>
        </div>





        <%# if !browser.device.mobile? && !browser.device.tablet? %>

          <div class="card my-3 box-shadow">
            <div class="card-header text-muted">
              <img src="/images/gatrix-desktop-icon.png" alt="" width="24" height="24" class="mr-1" />
              GATRIX DESKTOP
            </div>
            <div class="card-body bg-light">
              <div class="row">
                <div class="col-4">
                  <img src="/images/gatrix-desktop-icon.png" alt="" width="70" height="70" class="img-fluid" />
                </div>
                <div class="col-8">
                  <h6 class="mt-1 mb-1">Gatrix Desktop</h6>
                  <p class="mb-1">Better manage & deploy your code. Available for <%= browser.platform %>.</p>
                  <p class="text-success">Free</p>
                </div>
              </div>

              <% if browser.platform.mac? %>
                <p class="mt-3 mb-0">
                  <a href="https://git.omnilint.com/gatrix/desktop/GatrixDesktopSetup.exe" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-apple"></i>
                    Download for Mac
                  </a>
                </p>
              <% elsif browser.platform.linux? %>
                <p class="mt-3 mb-0">
                  <a href="https://git.omnilint.com/gatrix/desktop/GatrixDesktopSetup.exe" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-linux"></i>
                    Download for Linux
                  </a>
                </p>
              <% else %>
                <p class="mt-3 mb-0">
                  <a href="https://git.omnilint.com/gatrix/desktop/GatrixDesktopSetup.exe" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-windows"></i>
                    Download for Windows
                  </a>
                </p>
              <% end %>

            </div>

          </div>

        <%# else %>

          <div class="card my-3  bg-dark text-white box-shadow">
            <div class="card-header">
              <img src="/images/gatrix-mobile-icon.png" alt="" width="24" height="24" class="mr-1" />
              GATRIX CONNECT
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img src="/images/gatrix-mobile-icon.png" alt="" width="70" height="70" class="img-fluid" />
                </div>
                <div class="col-9">
                  <h6 class="mt-1 mb-0">Download Gatrix Connect</h6>
                  <p class="mb-2">Manage & deploy your code from the confort of your phone.</p>
                  <p class="mb-2 text-success">Free</p>
                </div>
              </div>

              <% if browser.platform.mac? %>
                <p class="mt-3 mb-0">
                  <a href="https://play.google.com/store/apps/details?id=io.gatrix.apps.gatrix" class="btn btn-block btn-success my-2">
                    <i class="fa fa-apple"></i>
                    Download for iOS
                  </a>
                </p>
              <% elsif browser.platform.android? %>
                <p class="mt-3 mb-0">
                  <a href="https://play.google.com/store/apps/details?id=io.gatrix.apps.gatrix" class="btn btn-block btn-primary my-2">
                    <i class="fa fa-linux"></i>
                    Download for Android
                  </a>
                </p>
              <% end %>
            </div>
          </div>

        <%# end %>






<!--
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <i class="fa fa-qrcode mr-1" style="font-size: 20px;"></i>
            DEVICE INFO
          </div>
          <div class="card-body pt-3">
            <ul class="list-unstyled">

            <% if browser.device.tv? %>
              <li class="disclaimer">You are on tv.</li>
            <% elsif browser.electron? %>
              <li class="disclaimer">You are on electron.</li>
            <% elsif browser.device.kindle? %>
              <li class="disclaimer">You are on kindle.</li>
            <% elsif browser.device.ipad? %>
              <li class="disclaimer">You are on ipad.</li>
            <% elsif browser.device.iphone? %>
              <li class="disclaimer">You are on iphone.</li>
            <% elsif browser.device.tablet? %>
              <li class="disclaimer">You are on tablet.</li>
            <% elsif browser.device.mobile? %>
              <li class="disclaimer">You are on mobile.</li>
            <% elsif browser.device.xbox_one? %>
              <li class="disclaimer">You are on xbox_one.</li>
            <% elsif browser.device.xbox_360? %>
              <li class="disclaimer">You are on xbox_360.</li>
            <% else %>
              <li class="disclaimer">You are on desktop.</li>
            <% end %>

            <% if browser.platform.mac? %>
              <li class="disclaimer">You are on Mac</li>
            <% end %>

            <% if browser.platform.windows? %>
              <li class="disclaimer">You are on Windows</li>
            <% end %>

            <% if browser.platform.linux? %>
              <li class="disclaimer">You are on Linux</li>
            <% end %>
            </ul>
          </div>
        </div>
 -->


      </div>

    </div>

  </div>
</section>
