<!-- <section class="bg-omnilint" style="background-color: #e1e2e3;"> -->
<section class="" style="background-color: #eeeff0;">
<!-- <section> -->
<!-- <section class=""> -->
  <div class="container py-4 py-lg-5">
    <!-- <h2>Dashboard</h2> -->
    <!-- <h2 class="mb-0">Welcome, <%= current_user.username %>.</h2> -->
    <h2 class="mb-0"><%= current_user.greet %>.</h2>


  <!--
    <div class="row">
      <div class="col-12 col-md-8"> -->



    <div class="row">
      <div class="col-12 col-md-7 col-lg-8">



        <% if @public_repositories_count == 0 && @private_repositories_count == 0 %>
          <div class="text-center my-3 bg-light">
            <a href="<%= new_user_repository_path(current_user) %>" class="text-dark">
              <div class="card pt-4 pt-md-5 pb-4 pb-md-5 box-shadow">
                <div class="card-body">
                  <!-- <h4>Welcome, <%= current_user.username %>.</h4> -->

                  <img src="/images/assistant/svg/omnilint-assistant-icon.svg" alt="Omnilint Assistant" class="mb-3" width="128" height="128">
                  <h4 class="mb-3" style="color: #205aa7">You don't have any repository yet.</h4>
                  <!-- <h4 class="mb-3" style="color: #205aa7">It seems that you don't have any repository yet.</h4> -->
                  <p class="mb-3">Get started by creating your first repository.</p>
                  <p class="mb-0"><button class="btn btn-lg btn-primary">+ Add repository</button></p>
                </div>
              </div>
            </a>
          </div>
        <% end %>

        <% @organizations_of_current_user.each do |org|%>
          <% if org.repositories.length > 0 %>
            <% if org.repositories.length == 1 %>
              <p class="my-2 text-muted"><small>1 <%= org.name.upcase %>'S REPOSITORY</small></p>
            <% else %>
              <p class="my-2 text-muted"><small><%= org.repositories.length %> <%= org.username.upcase %>'S REPOSITORIES</small></p>
            <% end %>
            <%= render "users/user_organizations_repositories", repositories: org.repositories %>
          <% end %>
        <% end %>

        <% if @private_repositories.length > 0 %>
          <% if @private_repositories.length == 1 %>
            <p class="my-2 text-muted"><small>1 PRIVATE REPOSITORY</small></p>
          <% else %>
            <p class="my-2 text-muted"><small><%= @private_repositories.length %> PRIVATE REPOSITORIES</small></p>
          <% end %>
          <%= render "users/user_repositories", repositories: @private_repositories %>
        <% end %>

        <% if @public_repositories.length > 0 %>
          <% if @public_repositories.length == 1 %>
            <p class="mb-2 text-muted"><small>1 PUBLIC REPOSITORY</small></p>
          <% else %>
            <p class="mb-2 text-muted"><small><%= @public_repositories.length %> PUBLIC REPOSITORIES</small></p>
          <% end %>
          <%= render "users/user_repositories", repositories: @public_repositories %>
        <% end %>



        <% if current_user.repositories_with_access.length > 0 %>
          <% if current_user.repositories_with_access.length == 1 %>
            <p class="mb-2 text-muted"><small>1 REPOSITORY ACCESS</small></p>
          <% else %>
            <p class="mb-2 text-muted"><small><%= current_user.repositories_with_access.length %> REPOSITORY ACCESSES</small></p>
          <% end %>
          <%= render "users/user_repositories", repositories: current_user.repositories_with_access %>
        <% end %>

      </div>


      <div class="col-12 col-md-5 col-lg-4" style="font-size: 14px; color: #333;">


        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <div class="row">
              <div class="col">
                <i class="fa fa-building-o mr-1"></i>
                TEAMS
              </div>
              <div class="col text-right">
                <%= link_to "+ New Team", new_user_team_path(current_user) %>
              </div>
            </div>
          </div>
          <div class="card-body bg-light">
            <% if current_user.memberships.joins(:team).count > 0 %>
              <ul class="list-unstyled mb-0">
                <% current_user.memberships.joins(:team).each do |membership| %>
                  <li>
                    <strong><%= link_to "#{membership.team.name}", team_path(membership.team) %></strong>
                    <span class="text-muted ml-2"><%= pluralize(membership.team.memberships.count, 'member') %></span>
                    <span class="text-muted ml-2"><%= "(#{membership.role})" %></span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              No team.
            <% end %>
          </div>
        </div>

        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <div class="row">
              <div class="col">
                <i class="fa fa-building-o mr-1"></i>
                ORGANIZATIONS
              </div>
              <div class="col text-right">
                <%= link_to "+ New Org.", new_user_organization_path(current_user) %>
              </div>
            </div>
          </div>
          <div class="card-body bg-light">
            <% if current_user.memberships.joins(:organization).count > 0 %>
              <ul class="list-unstyled mb-0">
                <% current_user.memberships.joins(:organization).each do |membership| %>
                  <li>
                    <strong><%= link_to "#{membership.organization.name || '-'}", organization_path(membership.organization) %></strong>
                    <span class="text-muted ml-2"><%= pluralize(membership.organization.memberships.count, 'member') %></span>
                    <span class="text-muted ml-2"><%= "(#{membership.role})" %></span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              No organization.
            <% end %>
          </div>
        </div>






        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            LINK
          </div>
          <div class="card-body bg-light pt-3">
            <div class="qrcode">
              <%# raw @qrcode_html %>
              <div class="pull-right ml-3">
                <%= raw @qrcode_svg %>
              </div>
              <p>Scan this QR code with your mobile phone to load this project immediately.</p>
            </div>
          </div>
        </div>

        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            Last commits
          </div>
          <div class="card-body bg-light pt-3">
            <ul class="list-unstyled mb-0">
              <% @last_commits.each do |commit| %>
              <%= render "last_commits_card_list", commit: commit, cached: true %>

              <% end %>
            </ul>

          </div>
        </div>

        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            Last commits attempts
          </div>
          <div class="card-body pt-3">
            <ul class="list-unstyled mb-0">
              <% @last_commit_attempts.each do |commit_attempt| %>
                <%= render "last_commit_attempts_card_list", commit_attempt: commit_attempt, cached: true %>
              <% end %>
            </ul>

          </div>
        </div>




        <!-- <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-lock mr-1"></i>
            SECURITY
          </div>
          <div class="card-body bg-light">
            <ul class="list-unstyled mb-0">
              <li>Browser: <strong><%= browser.name %></strong></li>
              <li>OS: <strong><%= browser.platform.name %></strong></li>
              <li><% if browser.device.name != 'Unknown' %>Device: <strong><%= browser.device.name %><% end %></strong></li>
              <li>IP: <strong><%= @smart_ip %></strong></li>
              <li>Current sign in: <strong><%= @user.current_sign_in_at.to_s(:short) %></strong></li>
              <li>Last sign in: <strong><%= @user.last_sign_in_at.to_s(:short) %></strong></li>
              <li>Last sign in IP: <strong><%= @user.last_sign_in_ip %></strong></li>
            </ul>
          </div>
        </div> -->




      </div>

    </div>

  </div>
</section>
