<!-- <section class="bg-omnilint" style="background-color: #e1e2e3;"> -->
<section class="bg-light">
<!-- <section> -->
<!-- <section class=""> -->
  <div class="container py-4 py-lg-5">
    <!-- <h2>Dashboard</h2> -->
    <!-- <h2 class="mb-0">Welcome, <%= current_user.username %>.</h2> -->
    <h2 class="mb-3"><%= current_user.greet %>.</h2>


  <!--
    <div class="row">
      <div class="col-12 col-md-8"> -->



    <div class="row">
      <div class="col-12 col-md-7 col-lg-8">
        <% if @last_commit_attempts.length > 0 %>
          <div class="card mb-3">
            <div class="card-header">
              Last Commit Attempts
              <!-- <span class="badge badge-secondary"><%#= @last_commit_attempts.count %> -->
            </div>
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <tbody>
                    <% @last_commit_attempts.each_with_index do |commit_attempt, index| %>
                      <% if commit_attempt.policy_checks.length > 0 %>
                        <%= render 'commit_attempts/commit_attempt_card_body', commit_attempt: commit_attempt, display_repository: true, i: index, policy_check: commit_attempt.policy_checks.first %>
                      <% else %>
                        <%= render 'commit_attempts/commit_attempt_card_body', commit_attempt: commit_attempt, display_repository: true, i: index, policy_check: nil %>
                      <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <% else %>

          <div class="card mb-3 text-center">

            <!-- NPM (Local)
            npm install -D omnilint
            (npx omnilint install)

            NPM (Global)
            npm install -g omnilint
            (omnilint install)

            YARN (Local)
            yarn add -D omnilint
            npx omnilint install

            yarn add -D omnilint && npx omnilint install

            YARN (Global)
            yarn global add omnilint
            omnilint install

            yarn global add omnilint && omnilint install -->


            <!-- <div class="card-header">
              Get started with your repository
            </div> -->

            <div class="card-body pt-5 pb-5">
              <!-- <img src="/images/logo/logo-shield-circle-only-simple.svg" width="110" height="110" class="d-inline-block align-top my-3" alt="Lint.dev Logo" style="opacity: 0.5;"> -->
              <h1 class="mb-5 text-muted">Waiting for commits...</h1>
              <h3>Local Install</h3>
              <p>Install with <strong>NPM</strong> (local):</p>
              <div class="mb-5">
                <p><kbd class="p-2">npm install -D omnilint</kbd></p>
              </div>

              <!-- <p>Install with <strong>Yarn</strong> (local):</p>
              <div class="mb-5">
                <p><kbd class="p-2">yarn add -D omnilint && npx omnilint install</kbd></p>
              </div> -->

              <h3>Global Install</h3>

              <p>Install with <strong>NPM</strong> (global):</p>
              <div class="mb-4">
                <p><kbd class="p-2">npm install -g omnilint</kbd></p>
              </div>

              <!-- <p>Install with <strong>Yarn</strong> (global):</p>
              <div class="mb-4">
                <p><kbd class="p-2">yarn global add omnilint && omnilint install</kbd></p>
              </div>
              <p>Go to your repository then:</p>
              <div class="mb-4">
                <p><kbd class="p-2">yarn global add omnilint && omnilint install</kbd></p>
              </div> -->

              <p>Then inside your repository root:</p>
              <div class="mb-4">
                <p><kbd class="p-2">omnilint install</kbd></p>
              </div>

            </div>
          </div>

        <% end %>
      </div>


      <div class="col-12 col-md-5 col-lg-4">

        <% if current_user.repositories_with_access.length > 0 %>
          <% if current_user.repositories_with_access.length == 1 %>
            <p class="mb-2 text-muted"><small>1 REPOSITORY ACCESS</small></p>
          <% else %>
            <p class="mb-2 text-muted"><small><%= current_user.repositories_with_access.length %> REPOSITORY ACCESSES</small></p>
          <% end %>
          <%= render "users/user_repositories", repositories: current_user.repositories_with_access %>
        <% end %>



        <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <div class="row">
              <div class="col">
                <i class="fa fa-building-o mr-1"></i>
                TEAMS
              </div>
              <div class="col text-right">
                <%= link_to "+ New Team", new_user_team_path(current_user) %>
              </div>
            </div>
          </div>
          <div class="card-body bg-light">
            <% if current_user.memberships.joins(:team).count > 0 %>
              <ul class="list-unstyled mb-0">
                <% current_user.memberships.joins(:team).each do |membership| %>
                  <li>
                    <strong><%= link_to "#{membership.team.name}", team_path(membership.team) %></strong>
                    <span class="text-muted ml-2"><%= pluralize(membership.team.memberships.count, 'member') %></span>
                    <span class="text-muted ml-2"><%= "(#{membership.role})" %></span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              No team.
            <% end %>
          </div>
        </div>

        <!-- <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <div class="row">
              <div class="col">
                <i class="fa fa-building-o mr-1"></i>
                ORGANIZATIONS
              </div>
              <div class="col text-right">
                <%= link_to "+ New Org.", new_user_organization_path(current_user) %>
              </div>
            </div>
          </div>
          <div class="card-body bg-light">
            <% if current_user.memberships.joins(:organization).count > 0 %>
              <ul class="list-unstyled mb-0">
                <% current_user.memberships.joins(:organization).each do |membership| %>
                  <li>
                    <strong><%= link_to "#{membership.organization.name || '-'}", organization_path(membership.organization) %></strong>
                    <span class="text-muted ml-2"><%= pluralize(membership.organization.memberships.count, 'member') %></span>
                    <span class="text-muted ml-2"><%= "(#{membership.role})" %></span>
                  </li>
                <% end %>
              </ul>
            <% else %>
              No organization.
            <% end %>
          </div>
        </div> -->






        <!-- <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            LINK
          </div>
          <div class="card-body bg-light pt-3">
            <div class="qrcode">
              <%# raw @qrcode_html %>
              <div class="pull-right ml-3">
                <%= raw @qrcode_svg %>
              </div>
              <p>Scan this QR code with your mobile phone to load this project immediately.</p>
            </div>
          </div>
        </div> -->

        <!-- <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            Last commits
          </div>
          <div class="card-body bg-light pt-3">
            <ul class="list-unstyled mb-0">
              <% @last_commits.each do |commit| %>
              <%= render "last_commits_card_list", commit: commit, cached: true %>

              <% end %>
            </ul>

          </div>
        </div> -->

        <!-- <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-qrcode mr-1"></i>
            Last commits attempts
          </div>
          <div class="card-body pt-3">
            <ul class="list-unstyled mb-0">
              <% @last_commit_attempts.each do |commit_attempt| %>
                <%= render "last_commit_attempts_card_list", commit_attempt: commit_attempt, cached: true %>
              <% end %>
            </ul>

          </div>
        </div> -->




        <!-- <div class="card my-3 box-shadow">
          <div class="card-header text-muted">
            <i class="fa fa-lock mr-1"></i>
            SECURITY
          </div>
          <div class="card-body bg-light">
            <ul class="list-unstyled mb-0">
              <li>Browser: <strong><%= browser.name %></strong></li>
              <li>OS: <strong><%= browser.platform.name %></strong></li>
              <li><% if browser.device.name != 'Unknown' %>Device: <strong><%= browser.device.name %><% end %></strong></li>
              <li>IP: <strong><%= @smart_ip %></strong></li>
              <li>Current sign in: <strong><%= @user.current_sign_in_at.to_s(:short) %></strong></li>
              <li>Last sign in: <strong><%= @user.last_sign_in_at.to_s(:short) %></strong></li>
              <li>Last sign in IP: <strong><%= @user.last_sign_in_ip %></strong></li>
            </ul>
          </div>
        </div> -->




      </div>

    </div>

  </div>
</section>
