
<section class="bg-dark text-white" style="background-color: #080808 !important;">
  <div style="background: url('/images/bg-white.png');">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-md-7 py-3 py-md-5 my-auto">
          <div class="pt-3 pb-0 text-md-left">
            <h1 class="mt-4 mb-4 h1-responsive" style="line-height: 1em; font-weight: bold;">Pre-commit <br />multi-language <br />code linter.</h1>
            <p class="lead text-white" style="opacity: 0.6; max-width: 580px;">Omnilint helps developers discover and fix performance, security and formatting offenses in their code as well as teams to enforce and maintain consistent code policies accross their repositories.</p>
          </div>
        </div>
        <div class="col-12 col-md-5 my-0 mt-md-3 text-dark">
          <div class="card my-3">
            <div class="card-body">
              <!-- <img class="mt-2 mb-3" src="/images/logo/omnilint-logo.png" alt="" width="72" height="72"> -->
              <% if defined? user_registration_path %>
                <h3 class="card-title mb-2 mx-auto" style="max-width: 320px;">Sign up and start fixing your code in seconds.</h3>
                <p class="mb-3 mb-0 text-muted">
                  No credit card required.
                </p>
                <p>
                  <a href="<%= user_github_omniauth_authorize_path %>" class="btn btn-lg btn-primary btn-block mb-3">
                    <i class="fa fa-github mr-2" style="font-size: 32px; vertical-align: middle;"></i> <span style="vertical-align: middle;">Github Login</span>
                  </a>
                </p>
                <p class="mb-3">or</p>
                <%= bootstrap_form_for(resource, as: resource_name, url:  user_registration_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.text_field :username, autofocus: true, autocomplete: "username", hide_label: true, class: "custom-form", placeholder: "Username" %>
                  </div>
                  <div class="field">
                    <%= f.email_field :email, autocomplete: "email", hide_label: true, class: "custom-form", placeholder: "Email" %>
                  </div>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", hide_label: true, class: "custom-form", placeholder: "Password"  %>
                  </div>
                  <div class="actions mb-3">
                    <%= f.submit "Sign up", class: "btn btn-lg btn-dark btn-block" %>
                  </div>
                  <!-- <%= render "devise/shared/links" %> -->
                  <p class="mt-2 mb-0 text-muted" style="line-height: 1em; font-size: 11px;">
                    By clicking "Sign up for Omnilint", you agree to our terms of service and privacy policy. We may send you account related emails.
                  </p>
                <% end %>
              <% else %>
                <h3 class="card-title mb-0 mx-auto" style="max-width: 280px;">Available soon.</h3>
              <% end %>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center pb-3">
        <a href="#what_is_omnilint">
          <img src="/images/scroll-down.gif" alt="Scroll Down" height="40" width="40">
        </a>
      </div>
    </div>
  </div>
</section>



<section class="pt-5 pb-3 bg-light text-center" id="what_is_omnilint">
  <div class="container">
    <h1 class="h1-responsive">What is Omnilint</h1>
    <!-- <p class="lead mx-auto">Not every rule has the same importance. <br /> -->
    <p class="lead mx-auto mt-4 mb-5" style="max-width: 510px;">Omnilint contains a glossary of rules, the recommanded best practices and an example for each rule, and lets teams decide on the of each severity level rule.</p>
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <p class="lead">Warning example</p>
        <%= render "pages/offenses/warning" %>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <p class="lead">Error example</p>
        <%= render "pages/offenses/error" %>
      </div>
    </div>
  </div>
</section>


<section class="py-4 py-md-5 bg-white mx-auto text-center" id="features">
  <h1 class="h1-responsive">Features</h1>
  <p class="lead mx-auto mb-5" style="max-width: 650px;">Some of Omnilint's features.</p>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4">
        <img src="/images/features/tags.png" alt="ERBLint" height="100" width="100" class="mb-3">
        <h3>Analyze your commits</h3>
        <p>Omnilint checks your code for every staged file you commit.</p>
      </div>
      <div class="col-6 col-md-4">
        <img src="/images/features/speedometer.png" alt="ERBLint" height="100" width="100" class="mb-3">
        <h3>Act fast</h3>
        <p>Get notified early in the development process, don't wait for your build to crashs.</p>
      </div>
      <div class="col-6 col-md-4">
        <img src="/images/features/flash.png" alt="ERBLint" height="100" width="100" class="mb-3">
        <h3>Enforce code policies</h3>
        <p>Omnilint allows team managers to install and maintained consistent rules.</p>
      </div>
    </div>
  </div>
</section>


<section class="py-4 py-md-5 bg-light mx-auto text-center" id="linters">
  <h1 class="h1-responsive">Linters</h1>
  <p class="lead mx-auto mb-5" style="max-width: 650px;">Some of Omnilint's built-in linters.</p>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/eslint.png" alt="ESLint" class="img-fluid">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/rubocop.png" alt="Rubocop" class="img-fluid">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/stylelint.png" alt="StyleLint" class="img-fluid">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/erblint.png" alt="ERBLint" class="img-fluid">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/brakeman.png" alt="Brakeman" class="img-fluid">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/prettier.png" alt="Prettier" class="img-fluid">
      </div>
    </div>
  </div>
</section>


<section class="py-4 py-md-5 bg-white mx-auto text-center" id="installation">
  <h1 class="h1-responsive">Installation</h1>
  <p class="lead mx-auto" style="max-width: 650px;">Install Omnilint easily with NPM.</p>
  <div class="text-center" style="text-align: center !important;">
    <ul class="nav nav-pills text-center mx-auto mb-4" id="myTab" role="tablist" style="max-width: 250px;">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Local install</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Global install</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <p>Install with <strong>NPM</strong> (local):</p>
        <p><kbd class="p-2">$ cd path/to/repository</kbd></p>
        <p><kbd class="p-2">$ npm install -D omnilint</kbd></p>
        <p>You can then use NPX to run Omnilint <br> commands from inside your repository:</p>
        <p><kbd class="p-2">$ npx omnilint [COMMAND]</kbd></p>

        <p>To (re)install Omnilint's git hooks:</p>
        <p><kbd class="p-2">$ npx omnilint install</kbd></p>
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p>Install with <strong>NPM</strong> (global):</p>
        <div class="mb-4">
          <p><kbd class="p-2">$ npm install -g omnilint</kbd></p>
        </div>
        <p>You can then run Omnilint commands anywhere:</p>
        <p><kbd class="p-2">$ cd path/to/repository</kbd></p>
        <p><kbd class="p-2">$ omnilint [COMMAND]</kbd></p>
        <p>To (re)install Omnilint's git hooks:</p>
        <p><kbd class="p-2">$ cd path/to/repository</kbd></p>
        <p><kbd class="p-2">$ omnilint install</kbd></p>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
  </div>
</section>


<section class="py-4 py-md-5 bg-dark mx-auto text-center" id="usage">
  <h1 class="h1-responsive text-white">Usage</h1>
  <p class="lead mx-auto text-white" style="max-width: 650px; opacity: 0.6">Simply commit a file <br/>and an analysis will start automatically.</p>
  <p><kbd class="p-2">$ git add example.rb</kbd></p>
  <p><kbd class="p-2">$ git commit -m "Test Omnilint"</kbd></p>
</section>







<section class="text-center bg-light" id="pricing">
  <div class="pricing-header px-3 py-4 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="h1-responsive">Pricing</h1>
    <p class="lead mx-auto mb-0" style="max-width: 600px;">Omnilint is free to use for personal use. For teams, Omnilint provides a plan for the needs of every size.</p>
  </div>
  <nav class="text-center" style="text-align: center !important;">
    <div class="nav nav-tabs text-center mx-auto" role="tablist" style="max-width: 250px;">
      <a class="nav-item nav-link active" id="nav_pay_monthly" data-toggle="tab" role="tab" aria-selected="true" style="width: 120px; cursor: pointer;">Pay monthy</a>
      <a class="nav-item nav-link" id="nav_pay_yearly" data-toggle="tab" role="tab"  aria-selected="false" style="width: 120px; cursor: pointer;"> Pay yearly </a>
    </div>
  </nav>
</section>



<section class="pricing-boxes bg-white">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">


      <section class="text-center">
        <div class="">
          <div class="container pt-5 pb-4">
            <div class="text-center">
              <div class="row">

                <div class="col">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Free</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0">Free</h1>
                      <p class="text-muted">ideal for experimenting</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Community support</li>
                        <li>100 MB of storage</li>
                        <li>Unlimited collaborators</li>
                      </ul>

                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Developer</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0 monthly">$10</h1>
                      <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$120</h1>
                      <p class="text-muted monthly">per month</p>
                      <p class="text-muted yearly" style="display: none;">per year / user</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Unlimited private repositories</li>
                        <li>Email support</li>
                        <!-- <li>300 MB of storage</li> -->
                        <li>Personal account</li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Business</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0 monthly">$20</h1>
                      <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$240</h1>
                      <p class="text-muted monthly">per month / user</p>
                      <p class="text-muted yearly" style="display: none;">per year / user</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Unlimited private repositories</li>
                        <li>Priority email support</li>
                        <!-- <li>300 MB of storage</li> -->
                        <li>Team and user permissions</li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0 monthly">$50</h1>
                      <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$600</h1>
                      <p class="text-muted yearly" style="display: none;">per year / user</p>
                      <p class="text-muted monthly">per month / user</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Unlimited private repositories</li>
                        <li>24/7 support / 99.95% SLA</li>
                        <li>Self-hosted solutions</li>
                      </ul>

                    </div>
                  </div>
                </div>
              </div>


              <!-- <div class="card mb-4 mx-auto" style="max-width: 600px;">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mb-4" style="font-size: 14px;">
                    <li>Ideal for experimenting</li>
                    <li>Unlimited public repositories</li>
                    <li>Community support</li>
                    <li>Unlimited collaborators</li>
                  </ul>
                  <% if defined? user_registration_path %>
                    <%= link_to("Get started", new_user_registration_path({plan: 'free'}), class:'btn btn-lg btn-block btn-dark') %>
                  <% end %>
                </div>
              </div> -->










            </div>

          </div>



        </div>
      </section>


    </div>
  </div>
</section>








<section class="bg-light py-5 text-center" id="sign_up">
  <div class="mx-auto" style="max-width: 350px;">
    <img class="mt-2 mb-3" src="/images/logo/omnilint-logo.png" alt="" width="72" height="72">
    <% if defined? user_registration_path %>
      <h3 class="card-title mb-2 mx-auto" style="max-width: 320px;">Sign up and start fixing your code in seconds.</h3>
      <p class="mb-3 mb-0 text-muted">
        No credit card required.
      </p>
      <p>
        <a href="<%= user_github_omniauth_authorize_path %>" class="btn btn-lg btn-primary btn-block mb-3">
          <i class="fa fa-github mr-2" style="font-size: 32px; vertical-align: middle;"></i> <span style="vertical-align: middle;">Github Login</span>
        </a>
      </p>
    <% else %>
      <h3 class="card-title mb-0 mx-auto" style="max-width: 280px;">Available soon.</h3>
    <% end %>
  </div>
</section>







<script type="text/javascript">
  $("#nav_pay_yearly").click(() => {
    $(".monthly").hide()
    $(".yearly").show()
  })
  $("#nav_pay_monthly").click(() => {
    $(".monthly").show()
    $(".yearly").hide()
  })
</script>
