
<section class="bg-dark text-white" style="background-color: #080808 !important;">
  <div style="background: url('/images/bg-white.png');">
    <div class="container text-center">
      <div class="row">
        <div class="col-12 col-md-7 py-3 pt-md-4 pb-md-5 my-auto">
          <div class="pt-3 pb-0 text-md-left">
            <h1 class="mt-4 mb-4 h1-responsive" style="line-height: 1em; font-weight: bold;">Pre-commit <br />multi-language <br />code linter.</h1>
            <p class="lead text-white" style="opacity: 0.6; max-width: 580px;">Lint.dev helps developers discover and fix performance, security and formatting offenses in their code as well as teams to enforce and maintain consistent code policies accross their repositories.</p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-light mb-3" data-toggle="modal" data-target="#videoModal">
              <i class="fa fa-play"></i> Watch the video
            </button>

            <!-- Modal -->
            <div class="modal fade text-dark" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content pt-2">
                  <!-- <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Introducing Lint.dev</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div> -->
                  <div class="">
                    <script type="text/javascript">
                      $('#videoModal').on('hide.bs.modal', function(e) {
                        var $if = $(e.delegateTarget).find('iframe');
                        var src = $if.attr("src");
                        $if.attr("src", '/empty.html');
                        $if.attr("src", src);
                      });
                    </script>
                    <!-- <iframe width="799" height="450" src="https://www.youtube.com/embed/ZB33_S8WtMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                    <iframe width="100%" height="450" src="https://www.youtube.com/embed/ZB33_S8WtMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
        <div class="col-12 col-md-5 my-0 mt-md-3 text-dark">
          <div class="card mb-4 mt-0 mt-md-4 ">
            <div class="card-body">
              <!-- <img class="mt-2 mb-3" src="/images/logo/omnilint-logo.png" alt="" width="72" height="72"> -->
              <% if defined? user_registration_path %>
                <h3 class="card-title mb-2 mx-auto" style="max-width: 320px;">Sign up and start fixing your code in seconds.</h3>
                <p class="mb-3 mb-0 text-muted">
                  No credit card required.
                </p>
                <p>
                  <a href="<%= user_github_omniauth_authorize_path %>" class="btn btn-lg btn-primary btn-block mb-3">
                    <i class="fa fa-github mr-2" style="font-size: 32px; vertical-align: middle;"></i> <span style="vertical-align: middle;">Login with Github</span>
                  </a>
                </p>
                <p class="mb-3">or</p>
                <%= bootstrap_form_for(resource, as: resource_name, url:  registration_path(resource_name)) do |f| %>
                  <div class="field">
                    <%= f.text_field :username, autofocus: true, autocomplete: "username", autocorrect: "off", autocapitalize: "none", hide_label: true, class: "custom-form", placeholder: "Username", wrapper: { class: '' } %>
                  </div>
                  <div class="field">
                    <%= f.email_field :email, autocomplete: "email", autocorrect: "off", autocapitalize: "none", hide_label: true, class: "custom-form email-input", placeholder: "Email", wrapper: { class: '' } %>
                  </div>
                  <div class="field">
                    <%= f.password_field :password, autocomplete: "off", autocorrect: "off", autocapitalize: "none", hide_label: true, class: "custom-form", placeholder: "Password", wrapper: { class: '' }  %>
                  </div>
                  <div class="actions mb-3">
                    <%= f.submit "Sign up", class: "btn btn-lg btn-dark btn-block" %>
                  </div>
                  <!-- <%= render "devise/shared/links" %> -->
                  <p class="mt-2 mb-0 text-muted" style="line-height: 1em; font-size: 11px;">
                    By using this form, you agree to our terms of service and privacy policy. We may send you account related emails.
                  </p>
                <% end %>
              <% else %>
                <h3 class="card-title mb-0 mx-auto" style="max-width: 280px;">Available soon.</h3>
              <% end %>
            </div>
          </div>
        </div>

      </div>

      <div class="text-center pb-3 d-none d-md-block" style="margin-top: -50px;">
        <a href="#what_is_omnilint" class="text-white">
          <small style="opacity: 0.6;">Scroll down</small>
          <br/>
          <img src="/images/scroll-down.gif" alt="Scroll Down" height="30" width="30">
        </a>
      </div>
    </div>
  </div>
</section>



<section class="pt-5 pb-3 bg-white text-center" id="what_is_omnilint">
  <div class="container">
    <h1 class="h1-responsive">What is Lint.dev</h1>
    <!-- <p class="lead mx-auto">Not every rule has the same importance. <br /> -->
    <!-- <p class="lead mx-auto mt-4 mb-4" style="max-width: 580px;">For every programming language, Lint.dev contains a glossary of rules, the recommanded best practices for each, and lets teams decide on what rule they enforce and with what severity level.</p> -->
    <p class="lead mx-auto mt-4 mb-4" style="max-width: 580px;">Lint.dev allows development teams to enforce, monitor and improve code quality within their teams.</p>


    <div class="row">
      <div class="col-6 col-md-4 mb-4">
        <!-- <img src="/images/features/tags.png" alt="ERBLint" height="100" width="100" class="mb-3"> -->
        <span class="fa fa-check-circle mb-4" style="font-size: 70px;"></span>
        <h4>Analyze your commits</h4>
        <p>Lint.dev checks your code for every staged file you commit.</p>
      </div>
      <div class="col-6 col-md-4 mb-4">
        <span class="fa fa-bolt mb-4" style="font-size: 70px;"></span>
        <h4>Detect issues immediately</h4>
        <p>Get notified early in the development process, don't wait for your build to crash.</p>
      </div>
      <div class="col-6 col-md-4 mb-4">
        <span class="fa fa-shield mb-4" style="font-size: 70px;"></span>
        <h4>Enforce code policies</h4>
        <p>Lint.dev allows team managers to install and maintained consistent rules.</p>
      </div>
      <div class="col-6 col-md-4 mb-4">
        <span class="fa fa-warning mb-4" style="font-size: 70px;"></span>
        <h4>Get warnings</h4>
        <p>Receive warnings when your code contains an offense to a rule.</p>
      </div>
      <div class="col-6 col-md-4 mb-4">
        <span class="fa fa-dashboard mb-4" style="font-size: 70px;"></span>
        <h4>Dashboard & charts</h4>
        <p>Get access to a full dashboard containing all the data you need in one place.</p>
      </div>
      <div class="col-6 col-md-4 mb-4">
        <span class="fa fa-code mb-4" style="font-size: 70px;"></span>
        <h4>Multi-languages</h4>
        <p>Lint.dev currently works for HTML, CSS, Javascript, Ruby & Python.</p>
      </div>
    </div>
  </div>




  <!-- <div class="section-items"><div class="feature-item"><h3>Multiple businesses</h3><p>Swiftly manage and switch between multiple businesses from one login.</p></div><div class="feature-item"><h3>Multilingual</h3><p>Plutio is available in 25 languages, including Spanish, Hebrew, Arabic, French and Japanese.</p></div><div class="feature-item"><h3>User roles &amp; permissions</h3><p>Create custom user roles and give each a different level of permissions.</p></div><div class="feature-item"><h3>Client portal</h3><p>Invite your clients to collaborate with you or to simply view progress.</p></div><div class="feature-item"><h3>Dark mode</h3><p>Choose to adopt a dark system-wide appearance instead of a light appearance.</p></div><div class="feature-item"><h3>Personalizations</h3><p>Set your preferred date and time format, time-zone and week start day.</p></div><div class="feature-item"><h3>Default colors</h3><p>Choose 9 default colors to be used business wide like on tags for projects and tasks.</p></div><div class="feature-item"><h3>Instant notifications</h3><p>Customize how and when you receive email and push notifications.</p></div><div class="feature-item"><h3>Daily digest emails</h3><p>Receive a daily summary of all tasks overdue and due at the day.</p></div><div class="feature-item"><h3>Activities feed</h3><p>Stay in the loop with a real-time feed of everyone's activities.</p></div><div class="feature-item"><h3>Search</h3><p>Quickly find what you're looking for using a lightning fast search.</p></div><div class="feature-item"><h3>Filters</h3><p>Apply advanced filters to show only what you need and eliminate clutter.</p></div><div class="feature-item"><h3>Free one on one support</h3><p>We're always here to help, you can email, live chat or even call us.</p></div><div class="feature-item"><h3>Fully responsive</h3><p>Our unique interface is bespokely designed from the group up to fit any screen size.</p></div><div class="feature-item"><h3>Free apps</h3><p>Our desktop and mobile apps gives you access to everything from anywhere.</p></div><div class="feature-item"><h3>Secure</h3><p>All data transmitted between our server and your browser is always protected and encrypted.</p></div><div class="feature-item"><h3>Use what you need</h3><p>You can turn off products and tools that you don't use, helping you stay clutter free.</p></div></div> -->


</section>


<section class="py-4 py-md-5 bg-light mx-auto text-center" id="linters">
  <h1 class="h1-responsive">Linters</h1>
  <p class="lead mx-auto mb-5" style="max-width: 650px;">Some of Lint.dev's built-in linters.</p>
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/eslint.png" alt="ESLint" class="img-fluid img-thumbnail p-4">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/rubocop.png" alt="Rubocop" class="img-fluid img-thumbnail p-4">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/stylelint.png" alt="StyleLint" class="img-fluid img-thumbnail p-4">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/erblint.png" alt="ERBLint" class="img-fluid img-thumbnail p-4">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/brakeman.png" alt="Brakeman" class="img-fluid img-thumbnail p-4">
      </div>
      <div class="col-6 col-md-4 mb-3">
        <img src="/images/linters/prettier.png" alt="Prettier" class="img-fluid img-thumbnail p-4">
      </div>
    </div>
  </div>
</section>


<section class="py-4 py-md-5 bg-white mx-auto text-center" id="installation">
  <h1 class="h1-responsive">Installation</h1>
  <p class="lead mx-auto" style="max-width: 650px;">Install Lint.dev easily with NPM.</p>
  <div class="text-center" style="text-align: center !important;">
    <ul class="nav nav-pills text-center mx-auto mb-4" id="myTab" role="tablist" style="max-width: 250px;">
      <li class="nav-item">
        <a class="nav-link active" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="true">Local install</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="global-tab" data-toggle="tab" href="#global" role="tab" aria-controls="global" aria-selected="false">Global install</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="local-tab" id="local">
        <p>Install with <strong>NPM</strong> (local):</p>
        <p><kbd class="p-2">$ cd path/to/repository</kbd></p>
        <p><kbd class="p-2">$ npm install -D omnilint</kbd></p>
        <p>You can then use NPX to run Lint.dev <br> commands from inside your repository:</p>
        <p><kbd class="p-2">$ npx omnilint [COMMAND]</kbd></p>

        <p>To (re)install Lint.dev's git hooks:</p>
        <p><kbd class="p-2">$ npx omnilint install</kbd></p>
      </div>
      <div class="tab-pane fade" id="global" role="tabpanel" aria-labelledby="global-tab">
        <p>Install with <strong>NPM</strong> (global):</p>
        <div class="mb-4">
          <p><kbd class="p-2">$ npm install -g omnilint</kbd></p>
        </div>
        <p>You can then run Lint.dev commands anywhere:</p>
        <p><kbd class="p-2">$ cd path/to/repository</kbd></p>
        <p><kbd class="p-2">$ omnilint [COMMAND]</kbd></p>
        <p>To (re)install Lint.dev's git hooks:</p>
        <p><kbd class="p-2">$ cd path/to/repository</kbd></p>
        <p><kbd class="p-2">$ omnilint install</kbd></p>
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
  </div>
</section>


<section class="py-4 py-md-5 bg-dark mx-auto text-center" id="usage">
  <h1 class="h1-responsive text-white">Usage</h1>
  <p class="lead mx-auto text-white" style="max-width: 650px; opacity: 0.6">Simply commit a file <br/>and an analysis will start automatically.</p>
  <p><kbd class="p-2">$ git add example.rb</kbd></p>
  <p><kbd class="p-2">$ git commit -m "Test Lint.dev"</kbd></p>
</section>







<section class="text-center bg-light" id="pricing">
  <div class="pricing-header px-3 py-4 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="h1-responsive">Pricing</h1>
    <p class="lead mx-auto mb-0" style="max-width: 600px;">Lint.dev is free to use for personal use. For teams, Lint.dev provides a plan for the needs of every size.</p>
  </div>
  <nav class="text-center" style="text-align: center !important;">
    <div class="nav nav-tabs text-center mx-auto" role="tablist" style="max-width: 250px;">
      <a class="nav-item nav-link active" id="nav_pay_monthly" data-toggle="tab" role="tab" aria-selected="true" style="width: 120px; cursor: pointer;">Pay monthy</a>
      <a class="nav-item nav-link" id="nav_pay_yearly" data-toggle="tab" role="tab"  aria-selected="false" style="width: 120px; cursor: pointer;"> Pay yearly </a>
    </div>
  </nav>
</section>



<section class="pricing-boxes bg-white">
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">


      <section class="text-center">
        <div class="">
          <div class="container pt-5 pb-4">
            <div class="text-center">
              <div class="row">

                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Free</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0">Free</h1>
                      <p class="text-muted">ideal for experimenting</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Community support</li>
                        <li>100 MB of storage</li>
                        <li>Unlimited collaborators</li>
                      </ul>
                      <a href="/users/sign_up?plan=free" class="btn btn-lg btn-block btn-primary">Get started</a>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Developer</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0 monthly">$12</h1>
                      <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$120</h1>
                      <p class="text-muted monthly">per month / user</p>
                      <p class="text-muted yearly" style="display: none;">per year / user</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Unlimited private repositories</li>
                        <li>Email support</li>
                        <!-- <li>300 MB of storage</li> -->
                        <li>Personal account</li>
                      </ul>
                      <a href="/users/sign_up?plan=developer" class="btn btn-lg btn-block btn-primary">Get started</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Business</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0 monthly">$24</h1>
                      <h1 class="card-title pricing-card-title mb-0 yearly" style="display: none;">$240</h1>
                      <p class="text-muted monthly">per month / user</p>
                      <p class="text-muted yearly" style="display: none;">per year / user</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Unlimited private repositories</li>
                        <li>Priority email support</li>
                        <!-- <li>300 MB of storage</li> -->
                        <li>Team and user permissions</li>
                      </ul>
                      <a href="/users/sign_up?plan=business" class="btn btn-lg btn-block btn-primary">Get started</a>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                  <div class="card mb-4">
                    <div class="card-header">
                      <h4 class="my-0 font-weight-normal">Enterprise</h4>
                    </div>
                    <div class="card-body">
                      <h1 class="card-title pricing-card-title mb-0">Contact us</h1>
                      <p class="text-muted">talk to a representative</p>
                      <ul class="list-unstyled mt-3 mb-4" style="font-size: 14px;">
                        <li>Unlimited public repositories</li>
                        <li>Unlimited private repositories</li>
                        <li>24/7 support / 99.95% SLA</li>
                        <li>Self-hosted solutions</li>
                      </ul>
                      <a href="/contact?plan=enterprise" class="btn btn-lg btn-block btn-success">Inquire</a>
                    </div>
                  </div>
                </div>
              </div>


              <!-- <div class="card mb-4 mx-auto" style="max-width: 600px;">
                <div class="card-header">
                  <h4 class="my-0 font-weight-normal">Free</h4>
                </div>
                <div class="card-body">
                  <ul class="list-unstyled mb-4" style="font-size: 14px;">
                    <li>Ideal for experimenting</li>
                    <li>Unlimited public repositories</li>
                    <li>Community support</li>
                    <li>Unlimited collaborators</li>
                  </ul>
                  <% if defined? user_registration_path %>
                    <%= link_to("Get started", new_user_registration_path({plan: 'free'}), class:'btn btn-lg btn-block btn-dark') %>
                  <% end %>
                </div>
              </div> -->










            </div>

          </div>



        </div>
      </section>


    </div>
  </div>
</section>








<section class="bg-light py-5 text-center" id="sign_up">
  <div class="mx-auto" style="max-width: 350px;">
    <img class="mt-2 mb-3" src="/images/logo/omnilint-logo.png" alt="" width="72" height="72">
    <% if defined? user_registration_path %>
      <h3 class="card-title mb-2 mx-auto" style="max-width: 320px;">Sign up and start fixing your code in seconds.</h3>
      <p class="mb-3 mb-0 text-muted">
        No credit card required.
      </p>
      <p>
        <a href="<%= user_github_omniauth_authorize_path %>" class="btn btn-lg btn-primary btn-block mb-3">
          <i class="fa fa-github mr-2" style="font-size: 32px; vertical-align: middle;"></i> <span style="vertical-align: middle;">Login with Github</span>
        </a>
      </p>
    <% else %>
      <h3 class="card-title mb-0 mx-auto" style="max-width: 280px;">Available soon.</h3>
    <% end %>
  </div>
</section>







<script type="text/javascript">
  $("#nav_pay_yearly").click(() => {
    $(".monthly").hide()
    $(".yearly").show()
  })
  $("#nav_pay_monthly").click(() => {
    $(".monthly").show()
    $(".yearly").hide()
  })
</script>
