<div class="container">
  <div class="row">
    <h1 class="pl-3">Teams</h1>
  </div>
  <div class="row">
    <% @teams.each do |team| %>

      <div class="col-12">
        <div class="card box-shadow mb-2 mb-md-4">
          <div class="card-body p-2 p-md-3">
            <div class="container-fluid">
              <div class="row">
                <div class="col-1 text-center">
                  <a href="<%= admin_team_path(team) %>" style="display: block; cursor: pointer;">
                    <% if team.avatar_url.present? %>
                      <img class="mt-4" src="<%= team.avatar_url %>" alt="" style="width: 50px; height: 50px; border-radius: 8px;" />
                    <% else %>
                      <img src="/images/organization-blank.jpg" alt="<%= @team %>" class="img-thumbnail mt-4" style="width: 50px; height: 50px; border-radius: 80px;">
                    <% end %>
                  </a>
                </div>
                <div class="col">
                  <a href="<%= admin_team_path(team) %>" style="display: block; cursor: pointer;">
                    <h3 class="" style="margin-top: 6px; margin-bottom: 3px; ">
                      <%= team.name %>
                    </h3>
                    <ul class="list-unstyled text-dark mb-0" style="font-size: 12px;">
                      <li class="text-muted">
                        <strong><%= "#{team.user.repositories.count} #{Repository.model_name.human(count: team.user.repositories.count)}" %> </strong>
                      </li>
                      <li class="text-muted">
                        <%= "#{team.users.count} Members" %>
                      </li>
                    </ul>
                  </a>

                  <div class="text-right">
                    <%= link_to 'Show', admin_team_path(team), class: "btn btn-success btn-sm" %>
                    <%= link_to 'Edit', edit_admin_team_path(team), class: "btn btn-info btn-sm" %>
                    <%= link_to 'Destroy', admin_team_path(team), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
