<%= render 'repositories/secondary_menu', repository: @commit_attempt.repository %>

<!-- <section class="bg-white"> -->
<section class="" style="background-color: #eeeff0;">

  <div class="container py-5">

    <p><%= link_to "Back to commit attempts", user_repository_commit_attempts_path(@commit_attempt.repository.user, @commit_attempt.repository) %></p>

    <p>
      <% if @commit_attempt.repository.policy.present? %>
        Policy: <%= @commit_attempt.repository.policy.name %>
      <% else %>
        No Policy.
      <% end %>
    </p>

    <h3>
      Commit attempt #<%= @commit_attempt.id %>
    </h3>



    <% if @commit_attempt.policy_checks.first.present? && @commit_attempt.policy_checks.first.report.present? %>
      <p>
        <% if @commit_attempt.policy_checks.first.report["rule_checks_attributes"].present? %>
          <% if @commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_path']] }.count > 1 %>
            <%= "#{@commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_path']] }.count} files checked" %>
          <% elsif @commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_path']] }.count == 1 %>
            <%= "#{@commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_path']] }.count} file checked" %>
          <% else %>
            No file inspected
          <% end %>
        <% else %>
          <% if @commit_attempt.policy_checks.first.rule_checks.group_by(&:file_path).count > 1 %>
            <%= "#{@commit_attempt.policy_checks.first.rule_checks.group_by(&:file_path).count} files checked" %>
          <% elsif @commit_attempt.policy_checks.first.rule_checks.group_by(&:file_path).count == 1 %>
            <%= "#{@commit_attempt.policy_checks.first.rule_checks.group_by(&:file_path).count} file checked" %>
          <% else %>
            No file inspected
          <% end %>
        <% end %>

      </p>

      <span class="text-danger"><%= "#{@commit_attempt.policy_checks.first.error_count || 0} error(s)" %></span>
      |
      <span class="text-warning"><%= "#{@commit_attempt.policy_checks.first.warning_count || 0} warning(s)" %></span>
      |
      <% if @commit_attempt.policy_checks.first.passed == true %>
        <span class="badge badge badge-success">Passed</span>
      <% else %>
        <span class="badge badge badge-danger">Failed</span>
      <% end %>
      <% if @commit_attempt.policy_checks.first.fixable_offense_count.present? %>
        <p><%= "#{@commit_attempt.policy_checks.first.fixable_offense_count} Fixable rules, #{@commit_attempt.policy_checks.first.fixable_error_count} errors, #{@commit_attempt.policy_checks.first.fixable_warning_count} warnings" %></p>
      <% end %>
    <% end %>



    <p>
      <%= @commit_attempt.created_at.strftime("%d %B %Y at %H:%M") %>
    </p>

    <p>
      Commit message: "<%= @commit_attempt.message %>"

      <% if @commit_attempt.user.present? %>
      by
        <a href="<%= user_path(@commit_attempt.user) %>">
        <% if @commit_attempt.user.avatar_url.present? %>
          <img src="<%= @commit_attempt.user.avatar_url %>" alt="<%= @commit_attempt.user %>" class="mr-2" style="width: 20px; height: 20px; float: left; border-radius: 80px;">
        <% elsif @commit_attempt.user.present? && commit_attempt.user.is_organization? %>
          <img src="/images/organization-blank.jpg" alt="<%= @commit_attempt.user %>" class="mr-2" style="width: 20px; height: 20px; float: left; border-radius: 80px;">
        <% else %>
          <img src="/images/user-blank.png" alt="<%= @commit_attempt.user %>" class="mr-2" style="width: 20px; height: 20px; float: left; border-radius: 80px;">
        <% end %>
        <span><%= @commit_attempt.user %></span></a>
      <% end %>
    </p>


    <% if @commit_attempt.policy_checks.first.present? && @commit_attempt.policy_checks.first.report.present? %>
      <% if @commit_attempt.policy_checks.first.warning_count.present? && @commit_attempt.policy_checks.first.error_count.present? %>
        <% if @commit_attempt.policy_checks.first.warning_count > 0 && @commit_attempt.policy_checks.first.error_count > 0 %>
          <% if params[:grouped].present? && params[:grouped] == '0' %>
            <%= link_to "Grouped", @commit_attempt, class: "btn btn-sm btn-outline-primary" %>
            <%= link_to "Spread", user_repository_commit_attempt_path(@commit_attempt.repository.user, @commit_attempt.repository, @commit_attempt, :grouped => "0"), class: "btn btn-sm btn-outline-primary active" %>
          <% else %>
            <%= link_to "Grouped", @commit_attempt, class: "btn btn-sm btn-outline-primary active" %>
            <%= link_to "Spread", user_repository_commit_attempt_path(@commit_attempt.repository.user, @commit_attempt.repository, @commit_attempt, :grouped => "0"), class: "btn btn-sm btn-outline-primary" %>
          <% end %>
          <br/>
          <h1>Report</h1>
          <% if params[:grouped].present? && params[:grouped] == '0' %>
            <div class="table-responsive">
              <table class="table table-sm" style="font-size: 14px;">
                <tbody>
                  <tr>
                    <% if @commit_attempt.policy_checks.length > 0 %>
                      <% if @commit_attempt.policy_checks.first.report["rule_checks_attributes"].present? %>
                        <% @commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_name']] }.each do |file, rule_checks| %>
                          <td class="p-0">
                            <table class="table border">
                              <tr class="text-center">
                                <td class="text-white bg-dark">
                                  <%= file[0] %>
                                </td>
                              </tr>
                              <% rule_checks.sort_by { |h| h["severity_level"]}.reverse!.each do |rule_check| %>
                                <tr class="text-center">
                                   <% if rule_check["severity_level"].present? %>
                                    <td class="border text-white <% if rule_check["severity_level"] == 1 %>bg-orange<% elsif rule_check["severity_level"] == 2 %>bg-danger<%end%>">
                                      <%= Rule.find(rule_check["rule_id"]).linter.name %>: <%= Rule.find(rule_check["rule_id"]).name %>
                                      <br />
                                      <%= "#{rule_check["line"]}:#{rule_check["column"]}"%> <%= rule_check["message"] %>
                                      <% if rule_check["source"].present? &&  rule_check["source"].length> 0 %>
                                        <div class="bg-white text-left" >
                                          <code class="text-dark">
                                            <% rule_check["source"].each do |code| %>
                                            <div style="<% if code["line"] == rule_check["line"] %>background: rgba(255, 0, 0,.15);<% else %>background: #ffffff;<% end %>overflow:auto; width:auto; border-left: 5px solid gray;">
                                              <table>
                                                <tr>
                                                  <td style="border-right: 1px solid #ddd; border-top: 0;">
                                                  <code class="text-dark" style="margin: 0; line-height: 125%; opacity: 0.5;"><%="#{code["line"]}"%><br/></code>
                                                  </td>
                                                  <td class="text-left" style="border-top: 0;">
                                                    <code class="text-dark"style="margin: 0; line-height: 125%"><span><%= "#{code["code"]}" %></span><br/></code>
                                                  </td>
                                                </tr>
                                              </table>
                                            </div>



                                            <% end %>
                                          </code>
                                        </div>
                                      <% end %>

                                    </td>
                                   <% end %>
                                </tr>
                              <% end %>
                            </table>
                          </td>
                        <% end %>
                      <% end %>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          <% else %>
            <div class="table-responsive">
              <table class="table table-sm" style="font-size: 14px;">
                <tbody>
                  <tr>
                    <% if @commit_attempt.policy_checks.length > 0 %>
                      <% if @commit_attempt.policy_checks.first.report["rule_checks_attributes"].present? %>
                        <% @commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_name']] }.each do |file, rule_checks| %>
                          <td class="p-0">
                            <table class="table border">
                              <tr class="text-center">
                                <td class="text-white bg-dark">
                                  <%= file[0] %>
                                </td>
                              </tr>
                              <% rule_checks.sort_by { |h, v| [h["severity_level"]]}.reverse!.group_by{ |h| [h['rule_id']] }.each do |rule_id, rule_checks| %>
                                <tr class="text-center">
                                  <td class="text-white <% if rule_checks[0]["severity_level"] == 1 %>bg-orange <% elsif rule_checks[0]["severity_level"] == 2%>bg-danger<% end %>">
                                    <%= Rule.find(rule_id[0]).linter.name %> - <%= Rule.find(rule_id[0]).name %> <span class="badge badge-secondary"><%= "#{rule_checks.count}"%></span>
                                    <%#= rule_checks.count %>
                                    <br/>

                                    <% rule_checks.each do |rule_check| %>
                                      <%= "#{rule_check["line"]}:#{rule_check["column"]}"%> <%= rule_check["message"] %>
                                      <% if rule_check["source"].present? &&  rule_check["source"].length> 0 %>
                                        <div class="bg-white text-left" >
                                          <code class="text-dark">
                                            <% rule_check["source"].each do |code| %>
                                            <div style="<% if code["line"] == rule_check["line"] %>background: rgba(255, 0, 0,.15);<% else %>background: #ffffff;<% end %>overflow:auto; width:auto; border-left: 5px solid gray;">
                                              <table>
                                                <tr>
                                                  <td style="border-right: 1px solid #ddd; border-top: 0;">
                                                  <code class="text-dark" style="margin: 0; opacity: 0.5;"><%="#{code["line"]}"%><br/></code>
                                                  </td>
                                                  <td class="text-left" style="border-top: 0;">
                                                    <code class="text-dark"style="margin: 0; "><span><%= "#{code["code"]}" %></span><br/></code>
                                                  </td>
                                                </tr>
                                              </table>
                                            </div>
                                            <% end %>
                                          </code>
                                        </div>
                                      <% end %>
                                    <% end %>
                                    </td>
                                </tr>
                              <% end %>
                            </table>
                          </td>
                        <% end %>
                      <% end %>
                    <% end %>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <% end %>

    <% if @commit_attempt.policy_checks.length > 0 %>
      <% if @commit_attempt.policy_checks.first.report["rule_checks_attributes"].present? %>

        <div id="accordion">
          <% @commit_attempt.policy_checks.first.report["rule_checks_attributes"].group_by{ |h| [h['file_name']] }.each do |file, rule_checks| %>
            <div class="card mb-2">
              <div class="card-header d-flex justify-content-between align-items-center" id="headingOne" data-toggle="collapse" data-target="#collapse<%= (rule_checks[0]["line"]+file[0].length) %>" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer;">
                <strong><%=file[0]%></strong>
                <div>
                  <span class="text-danger"><%= "#{rule_checks.select { |check| check["severity_level"] == 2 }.count || 0} error(s)" %></span>
                  |
                  <span class="text-orange"><%= "#{rule_checks.select { |check| check["severity_level"] == 1 }.count || 0} warning(s)" %></span>
                </div>

              </div>
              <div id="collapse<%= (rule_checks[0]["line"]+file[0].length) %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body" style="margin:0; padding:0">
                  <table class="table border" style="margin:0; padding:0">
                    <% rule_checks.sort_by { |h, v| [h["severity_level"]]}.reverse!.group_by{ |h| [h['rule_id']] }.each do |rule_id, rule_checks| %>
                      <tr class="text-center my-2">
                        <td class="text-white <% if rule_checks[0]["severity_level"] == 1 %>bg-orange <% elsif rule_checks[0]["severity_level"] == 2 %>bg-danger<% end %>" style="border-bottom: 15px solid #ffffff;">
                          <div class="pb-2">
                            <%#= Rule.find(rule_id[0]).linter.name %> <%= Rule.find(rule_id[0]).name %> <span class="badge badge-secondary"><%= "#{rule_checks.count}" %></span>
                          </div>
                          <div class="<% if rule_checks[0]["severity_level"] == 1 %>bg-orange-light <% elsif rule_checks[0]["severity_level"] == 2 %>bg-danger-light<% end %> m-0 p-0">
                            <% rule_checks.each do |rule_check| %>
                              <span> <%= "#{rule_check["line"]}:#{rule_check["column"]}"%> <%= rule_check["message"] %></span>
                              <% if rule_check["source"].present? &&  rule_check["source"].length> 0 %>
                                <div class="bg-white text-left" >
                                  <code class="text-dark">
                                    <% rule_check["source"].each do |code| %>
                                    <div class="
                                      <% if code["line"] == rule_check["line"] %>
                                        <% if rule_checks[0]["severity_level"] == 1 %>
                                          bg-orange-lighter
                                        <% elsif rule_checks[0]["severity_level"] == 2 %>
                                          bg-danger-lighter
                                        <% end %>
                                      <% end %>
                                      " style="overflow:auto; width:auto;">
                                      <table>
                                        <tr>
                                          <td style="border-right: 1px solid #ddd; border-top: 0; min-width: 60px; line-height: 1em;">
                                            <code class="text-dark" style="margin: 0; opacity: 0.5;"><%="#{code["line"]}"%><br/></code>
                                          </td>
                                          <td class="text-left" style="border-top: 0; line-height: 1em;">
                                            <code class="text-dark"style="margin: 0; "><span><%= "#{code["code"]}" %></span><br/></code>
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                    <% end %>
                                  </code>
                                </div>
                              <% end %>
                            <% end %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </table>
                </div>
              </div>


            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>



    <%= link_to 'Edit', edit_commit_attempt_path(@commit_attempt) %> |
    <%= link_to 'Back', commit_attempts_path %>

  </div>

</section>
