<p id="notice"><%= notice %></p>

<p>
  <strong>Repository:</strong>
  <%= @pull.repository %>
</p>

<p>
  <strong>User:</strong>
  <%= @pull.user %>
</p>

<%= link_to 'Edit', edit_pull_path(@pull) %> |
<%= link_to 'Back', pulls_path %>
