<section>

  <a href="https://lint.to/" style="float:left;margin-bottom: 20px;">
    <img src="https://lint.to/images/mailer/logo.png" alt="Lint Logo" width="140" height="30" />
  </a>

  <a href="<%= message_url(@message) %>" style="float:right;border-radius:4px;color:#fff;font-size:13px;padding:7px 8px;text-decoration:none;border:1px solid #0069d9;display:inline-block;font-weight:400;line-height:18px;background-color:#0069d9">
    View in browser
  </a>
</section>

<section style="clear: both;">

  <p>
    Hi, you have a new message:
  </p>

  <p class="mt-4">
    From: <strong><%= @message.name %> <%= @message.email.present? ? "<#{@message.email}>" : '' %></strong>
    <br />
    To: <strong><%= @message.to_email %></strong>
  </p>

  <h1><%= @message.subject %></h1>

  <% if @message.html_body.present? %>
    <%= raw @message.html_body %>
  <% elsif @message.text_body.present? %>
    <%= raw @message.text_body %>
  <% else %>
    <p>No Content</p>
  <% end %>

  <p>
    Thank you,<br />
    The Lint team
  </p>

</section>
