
<div class="py-3">
  <%= bootstrap_form_for(@policy, layout: :horizontal, :url => @form_url) do |form| %>

    <% if policy.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(policy.errors.count, "error") %> prohibited this policy from being saved:</h2>

        <ul>
          <% policy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :policy_name, hide_label: true, required: true, class: "form-control-lg", placeholder: "Give a name to this policy" %>
    </div>
    <div class="field">
      <%= form.label :description %>
      <%= form.text_field :description, id: :policy_description, hide_label: true, placeholder: "Describe this policy"  %>
    </div>

    <%= form.check_box :prevent_commits_on_errors, {label: "Prevent commiting if at least one rule with error severity is detected", class: "mr-4" } %>

    <h2>Rules</h2>


    <%# form.check_box :autofix, {label: "Enforce Policy - Prevent commit in case of error", class: "" } %>
    <%= form.check_box :autofix, {label: "Enable Autofix - Automatically repair fixable offenses", class: "" } %>
		<br />

    <ul class="nav nav-tabs mb-3 border-bottom" id="myTab" role="tablist">
      <% @linters.each_with_index do |linter, index| %>
        <li class="nav-item">
          <a class="nav-link <% if index == 0 %>active<% end %>" id="<%= linter.id %>-tab" data-toggle="tab" href="#<%= linter.name %>" role="tab" aria-controls="<%= linter.id %>" aria-selected="<% if index == 0 %>true<% end %>"><%= linter.name %></a>
        </li>
      <% end %>
    </ul>
    <div class="tab-content" id="myTabContent">
      <% @linters.each_with_index do |linter, index| %>
        <div class="tab-pane fade show <% if index == 0 %> active<% end %>" id="<%= linter.name %>" role="tabpanel" aria-labelledby="<%= linter.id %>-tab">
          <div id='policyRuleForm_<%= linter.id %>'>
        		<% if (controller.action_name == "new") %>
        			<% @form_rules.each do |rule| %>
                <% if rule.linter == linter %>
          				<div id='policy_rules'>
          			    <%= form.fields_for :policy_rules do |policy_rule| %>
                      <div id="accordion" class="mb-2">
            		    		<%= render 'admin/policies/fields/policy_rule_card_fields', f: policy_rule, rule: rule %>
                      </div>
          			  	<% end %>
          				</div>
                <% end %>
        			<% end %>
        		<% else %>
        			<div id='policy_rules'>
        				<%= form.fields_for :policy_rules do |policy_rule| %>
        					<% if policy_rule.object.rule.present? %>
                    <% if policy_rule.object.rule.linter == linter %>
                      <div id="accordion" class="mb-2">
                        <%= render 'admin/policies/fields/policy_rule_card_fields', f: policy_rule, rule: policy_rule.object.rule, cached: true %>
                      </div>
                    <% end %>
        					<% end %>
        				<% end %>
        			</div>
        		<% end %>
          </div>
        </div>
      <% end %>
    </div>
    <%= form.submit %>
  <% end %>
</div>
