
<%= render 'admin/repositories/header', repository: @repository %>
<% # render 'repositories/hard_tabs', repository: @repository %>
<section class="bg-white">

  <div class="container py-3">

    <p><%= link_to "Back to repository", admin_repository_path(@repository) %></p>

    <div class="row">
      <div class="col-12 col-sm-6">
        <h2>Commits</h2>
      </div>
      <div class="col-12 col-sm-6">
        <p class="text-sm-right">
          <a href="<%= new_admin_repository_commit_path(@repository) %>" class="btn btn-outline-secondary btn-sm">
            + New Commit
          </a>
        </p>
      </div>
    </div>


    <% if @commits.length > 0 %>
      <div class="card mb-4">
        <div class="card-header">
          Commits <span class="badge badge-secondary"><%= @commits.length %>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <!-- <thead>
                <tr>
                  <th>Commits</th>
                  <th class="text-muted">Author</th>
                  <th class="text-muted">Date</th>
                </tr>
              </thead> -->
              <tbody>
                <% @commits.each do |commit| %>
                  <tr>
                    <td class="text-muted"><small><%= commit[:hash].slice(0,7) if commit[:hash].present? %></small></td>
                    <!-- <td><strong><%= commit[:message] if commit[:message].present? %></strong></td> -->
                    <td>
                      <p class="mb-0">
                        <strong><%= commit[:message] %></strong>
                      </p>
                      <p class="mb-0 text-muted"><small>
                        Committed <%= time_ago_in_words(commit[:date]) %> ago
                        by <%= commit[:author] %>
                      </small></p>
                    </td>
                    <!-- <td class="text-muted"><%= commit[:author] if commit[:author].present? %></td>
                    <td class="text-muted"><%= time_ago_in_words commit[:date] if commit[:date].present? %> ago</td> -->
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% else %>
      <%= render 'repositories/tabs/empty', repository: @repository %>
    <% end %>

  </div>
</section>
