<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @commit.message %>
</p>

<p>
  <strong>Date:</strong>
  <%= @commit.date %>
</p>

<p>
  <strong>Date raw:</strong>
  <%= @commit.date_raw %>
</p>

<p>
  <strong>Contributor raw:</strong>
  <%= @commit.contributor_raw %>
</p>

<p>
  <strong>Contributor name:</strong>
  <%= @commit.contributor_name %>
</p>

<p>
  <strong>Contributor email:</strong>
  <%= @commit.contributor_email %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @commit.repository %>
</p>

<p>
  <strong>User:</strong>
  <%= @commit.user %>
</p>

<%= link_to 'Edit', edit_commit_path(@commit) %> |
<%= link_to 'Back', commits_path %>
