
<section class="bg-light">
  <div class="container text-left py-4 py-lg-5">

    <h3 class="pb-2">Last Commit Attempts</h3>

    <div class="row">

      <div class="col-12 col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect">User</label>
          </div>

          <select class="custom-select" id="inputGroupSelect">
            <% if !params[:author].present? %>
              <option selected value="">All</option>
            <% else %>
              <option value="">All</option>
            <% end %>

            <% @authors.each do |author| %>
              <% if params[:author].present? && params[:author].to_i == author.id.to_i %>
                <option selected value="<%= author.id %>"><%= author %></option>
              <% else %>
                <option value="<%= author.id %>"><%= author %></option>
              <% end %>
            <% end %>
          </select>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectBranch">Branch</label>
          </div>
          <select class="custom-select" id="inputGroupSelectBranch">
            <% if !params[:branch].present? %>
              <option selected value="">All</option>
            <% else %>
              <option value="">All</option>
            <% end %>

            <% @branches.each do |branch| %>
              <% if params[:branch].present? && params[:branch].gsub(/[^a-zA-Z0-9\-]/,"") == branch.gsub(/[^a-zA-Z0-9\-]/,"") %>
                <option selected value="<%= branch %>"><%= branch %></option>
              <% else %>
                <option value="<%= branch %>"><%= branch %></option>
              <% end %>
            <% end %>

          </select>
        </div>
      </div>



      <div class="col-12 col-md-4">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelectStatus">Status</label>
          </div>
          <select class="custom-select" id="inputGroupSelectStatus">
            <% if !params[:status].present? %>
              <option selected value="">All</option>
            <% else %>
              <option value="">All</option>
            <% end %>

            <% if params[:status].present? && params[:status] == "passed" %>
              <option selected value="passed">Passed</option>
            <% else %>
              <option value="passed">Passed</option>
            <% end %>
            <% if params[:status].present? && params[:status] == "failed" %>
              <option selected value="failed">Failed</option>
            <% else %>
              <option value="failed">Failed</option>
            <% end %>
          </select>
        </div>
      </div>

    </div>


    <div class="card mb-3">
      <div class="card-body pt-1 pb-0">
        <%= column_chart [
          {name: 'Passed', color: 'green', data: @repository.commit_attempts.where(passed: true).group_by_day(:created_at, last: 21).count},
          {name: 'Failed', color: 'red', data: @repository.commit_attempts.where(passed: false).group_by_day(:created_at, last: 21).count},
          {name: 'No policy', color: 'grey', data: @repository.commit_attempts.where(passed: nil).group_by_day(:created_at, last: 21).count}
        ], height: "200px", stacked: true
        %>
      </div>
    </div>



    <% if @commit_attempts.length > 0 %>
      <div class="card mb-3">
        <div class="card-header">
          Commit Attempts <span class="badge badge-secondary"><%= @commit_attempts_count %>
        </div>
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <tbody>
                <% @commit_attempts.each_with_index do |commit_attempt, index| %>
                  <% if commit_attempt.policy_checks.length > 0 %>
                    <%= render 'commit_attempts/commit_attempt_card_body', commit_attempt: commit_attempt, i: index, display_repository: false, policy_check: commit_attempt.policy_checks.first %>
                  <% else %>
                    <%= render 'commit_attempts/commit_attempt_card_body', commit_attempt: commit_attempt, i: index, display_repository: false, policy_check: nil %>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <%= paginate @commit_attempts %>

    <% else %>
      <%= render 'repositories/tabs/empty', repository: @repository %>
    <% end %>


  </div>
</section>


<!-- Filters -->
<script type="text/javascript">
  $('#inputGroupSelectStatus').on('change', function() {
    if (this.value ) {
      var params = '?status=' + this.value + '&author=' + '<%= params[:author] %>' + '&branch=' + '<%= params[:branch] %>';
    } else {
      var params = '?status=' + '&author=' + '<%= params[:author] %>' + '&branch=' + '<%= params[:branch] %>';
    }
    window.location = params
  });

  $('#inputGroupSelectBranch').on('change', function() {
    if (this.value) {
      var params = '?branch=' + this.value + '&author=' + '<%= params[:author] %>' + '&status=' + '<%= params[:status] %>';
    } else {
      var params = '?branch=' + '&author=' + '<%= params[:author] %>' + '&status=' + '<%= params[:status] %>';
    }
    window.location = params
  });

  $('#inputGroupSelect').on('change', function() {
    if (this.value ) {
      var params = '?author=' + this.value + '&branch=' + '<%= params[:branch] %>' + '&status=' + '<%= params[:status] %>';
    } else {
      var params = '?author=' + '&branch=' + '<%= params[:branch] %>' + '&status=' + '<%= params[:status] %>';
    }
    window.location = params
  });
</script>
