<%= lint_form_with(
  model: organization,
  scope: :user,
  url: organization.persisted? ? organization_url(organization) : organizations_url,
  local: true
) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
      <% organization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :organization_name, id: :organization_name %>
  </div>

  <div class="field">
    <%= form.text_field :username, id: :organization_username %>
  </div>

  <div class="field">
    <%= form.email_field :email, id: :organization_email %>
  </div>

  <!-- <div class="field">
    <%# form.label :user_id %>
    <%= form.text_field :user_id, id: :organization_user_id %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
