<div class="container py-4">
  <h1>Organization: <%= @user.organization_name || @user.username %></h1>

  <div class="card mb-3">
    <div class="card-body">
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>

      <p>
        <strong>Created at:</strong>
        <%= @user.created_at.strftime('%A %d %B %Y at %H:%M:%S') %>
      </p>

      <p>
        <strong>Public repositories:</strong>
        <%= @repositories.count %>
      </p>
    </div>
  </div>

  <%= link_to 'Edit', edit_organization_path(@user) %> |
  <%= link_to 'Back', organizations_path %>
</div>
