<%= form_with(model: rule, local: true) do |form| %>
  <% if rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :rule_name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :rule_type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :rule_description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :rule_status %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.text_field :language_id, id: :rule_language_id %>
  </div>

  <div class="field">
    <%= form.label :framework_id %>
    <%= form.text_field :framework_id, id: :rule_framework_id %>
  </div>

  <div class="field">
    <%= form.label :platform_id %>
    <%= form.text_field :platform_id, id: :rule_platform_id %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.select :parent_id, Rule.all.collect {|c| [ c.name, c.id ] } %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
