<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @plan.slug %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan.description %>
</p>

<p>
  <strong>Price per month:</strong>
  <%= @plan.price_per_month %>
</p>

<p>
  <strong>Price per year:</strong>
  <%= @plan.price_per_year %>
</p>

<p>
  <strong>Max users:</strong>
  <%= @plan.max_users %>
</p>

<p>
  <strong>Max repositories:</strong>
  <%= @plan.max_repositories %>
</p>

<p>
  <strong>Max storage:</strong>
  <%= @plan.max_storage %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
