<p id="notice"><%= notice %></p>

<h1>Linters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linters.each do |linter| %>
      <tr>
        <td><%= linter.name %></td>
        <td><%= link_to 'Show', linter %></td>
        <td><%= link_to 'Edit', edit_linter_path(linter) %></td>
        <td><%= link_to 'Destroy', linter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linter', new_linter_path %>
