<%= render 'repositories/header', repository: @repository %>
<% # render 'repositories/hard_tabs', repository: @repository %>
<section class="bg-white">

  <div class="container py-4">

    <h1>Files</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Created</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @repository.documents.each do |document| %>
          <tr>
            <!-- <td><a href="/test"><i class="fa fa-folder mr-1"></i><%= document.path %>/<%= document.name %></a></td> -->
            <td><a href="/test"><i class="fa fa-folder mr-1"></i><%= document.repository.uuid %></a></td>
            <td><a href="/test"><i class="fa fa-folder mr-1"></i><%= document.path %></a></td>
            <td class="text-muted"><% if document.size.present? %><%= (document.size.to_i / 1000).round(2) %><% end %>Kb</td>

            <td class="text-muted"><% if document.created_at.present? %><%= document.created_at.strftime('%D') %><% end %></td>
            <td><%= link_to 'Show', user_repository_document_path(document.repository.user, document.repository, document) %></td>
            <td><%= link_to 'Edit', edit_user_repository_document_path(document.repository.user, document.repository, document) %></td>
            <td><%= link_to 'Destroy', user_repository_document_path(document.repository.user, document.repository, document), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Document', new_user_repository_document_path %>

  </div>
</section>
