<p id="notice"><%= notice %></p>

<h1>Commands</h1>

<table>
  <thead>
    <tr>
      <th>Command</th>
      <th>Path</th>
      <th>Port</th>
      <th>Repository</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commands.each do |command| %>
      <tr>
        <td><%= command.command %></td>
        <td><%= command.path %></td>
        <td><%= command.port %></td>
        <td><%= command.repository %></td>
        <td><%= command.user %></td>
        <td><%= link_to 'Show', command %></td>
        <td><%= link_to 'Edit', edit_command_path(command) %></td>
        <td><%= link_to 'Destroy', command, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Command', new_command_path %>
