<div class="text-center">
  <h2>Thank you</h2>
  <!-- <p>Your subscription is now active.</p> -->
  <p><%= @messsage %></p>
   <br/>
  params:
  <%= params %>
  <br/>
  <br/>
  @customer:
  <br/>
  <%= @customer %>
  <br/>
  <br/>
  @subscription
  <br/>
  <%= @subscription %>
  <br/>
  <br/>
  @current_plan:
  <br/>
  <%= @current_plan %>
  <br/>
  <br/>
  @stripe_product_id:
  <%= @stripe_product_id %>
  <br/>
  <br/>
  @new_plan:
  <br/>
  <%= @new_plan %>
  <br/>
  <br/>
  @user:
  <br/>
  <%= @user %>
  <br/>
  <br/>
</div>
