
<nav class="navbar navbar-expand-md navbar-light bg-white navbar-dashboard" id="navbar">

  <!-- <div class="" id="navbar_brand_group"> -->


    <% if current_page?(root_path) || current_page?(dashboard_path) %>
      <a class="navbar-brand mr-2" href="<%= prelaunch_path %>">
        <img src="/images/logo/omnilint-logo.svg" width="36" height="36" class="d-inline-block align-top" alt="Lint.dev Logo">
      </a>
    <% else %>
      <a class="navbar-brand mr-2" href="<%= root_path %>">
        <img src="/images/logo/omnilint-logo.svg" width="36" height="36" class="d-inline-block align-top" alt="Lint.dev Logo">
      </a>
    <% end %>


    <% if user_signed_in?  %>
      <!-- <a href="#" class="btn btn-outline-secondary btn-sm my-2 my-sm-0 mr-2"><i class="fa fa-plus"></i> Add</a> -->
        <!-- <a href="#" class="btn btn-success btn-sm my-2 my-sm-0 mr-2"> <i class="fa fa-plus ml-1 text-white"></i> Add </a> -->
      <!-- <%= link_to("+ Add", new_user_repository_path(current_user), class: 'btn btn-success btn-sm my-2 my-sm-0 mx-2') %> -->
    <% end %>
  <!-- </div> -->



<!--
  <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
    <form class="navbar-nav form-inline form-search input-search mr-0 mr-md-2 mt-2 mt-md-0" id="search" action="/repositories" autocomplete="off">
      <div class="input-group">
        <% if !params["q"].blank? %>
          <input class="form-control typeahead input-search bg-white typeahead-navbar border-right-0" style="border-radius: 5px 0px 0px 5px;" type="search" placeholder="<%= params['q'] %>" aria-label="Search" name="q" value="" autocomplete="off" id="search_input">
        <% else %>
          <input class="form-control typeahead input-search bg-white typeahead-navbar border-right-0" style="border-radius: 5px 0px 0px 5px;" type="search" placeholder="Search..." aria-label="Search" name="q" value="<%= @query %>" autocomplete="off" id="search_input">
        <% end %>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" style="border-color: #cfd4d9;"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </form>
  </div> -->


  <ul class="nav navbar-nav mx-auto">


    <% if current_user.present? && current_user.repositories.length > 0 %>

      <li class="nav-item dropdown active">
        <% if @repository.present? && @repository.name.present? %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            <% if @repository.platform.present? %>
            <img src="<%= @repository.platform.image_url %>" width="30" height="30" class="d-inline-block align-top mr-1" alt="Lint.dev Logo" style="border-radius: 5px; margin-top: -1px;">
            <% else %>
            <img src="/images/platformicons/svg/generic.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="Lint.dev Logo" style="border-radius: 5px; margin-top: -1px;">
            <% end %>

            <span class="">
            <%= @repository.slug %>
            </span>
          </a>
        <% else %>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select repository
          </a>
        <% end %>
        <div class="dropdown-menu main-dropdown-menu" aria-labelledby="navbarDropdown">
          <% current_user.repositories.order(updated_at: :desc).each do |repository| %>
            <a href="<%= user_repository_path(current_user, repository) %>" class="dropdown-item">
              <% if repository.platform.present? %>
                <img src="<%= repository.platform.image_url %>" alt="<%= repository.platform %>" style="width: 24px; height: 24px; border-radius: 4px; margin-right: 5px;" />
              <% else %>
                <img src="/images/platformicons/svg/generic.svg" alt="<%= repository.platform %>" style="width: 24px; height: 24px; border-radius: 4px; margin-right: 5px;" />
              <% end %>

              <!-- <%= repository.user.slug %> <span class="text-muted">/</span> <strong><%= repository.slug %></strong> -->
              <%= repository.slug %>
              <% if repository.status == 'Private' %>
                <i class="fa fa-eye-slash text-muted ml-1"></i>
              <% end %>
              <% if repository.has_encryption %>
                <i class="fa fa-lock text-muted"></i>
              <% end %>
              <small>
              <% if repository.requires_two_step_authentication %>
                <i class="fa fa-shield text-muted"></i>
              <% end %>
              <% if repository.has_deployment %>
                <i class="fa fa-desktop text-muted"></i>
              <% end %>
              </small>
            </a>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>




  <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbarSupportedContent search" aria-expanded="false" aria-label="Toggle navigation" style="border: none; opacity: 0.7;">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <!-- <% if current_page?(root_path) || current_page?(home_path) || current_page?(dashboard_path) %>
      <li class="nav-item active">
        <a class="nav-link" href="<%= home_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
    <% else %>
      <li class="nav-item">
        <a class="nav-link" href="<%= root_path %>">Home</a>
      </li>
    <% end %> -->

    <ul class="navbar-nav ml-auto">


      <form class="collapse navbar-nav form-inline form-search input-search ml-0 ml-md-2 mr-0 mr-md-2 mt-2 mt-md-0 mb-2 mb-md-0" id="search" action="/repositories" autocomplete="off">
        <div class="input-group">
          <% if !params["q"].blank? %>
            <input class="form-control typeahead input-search bg-white typeahead-navbar border-right-0" style="border-radius: 5px 0px 0px 5px;" type="search" placeholder="<%= params['q'] %>" aria-label="Search" name="q" value="" autocomplete="off" id="search_input">
          <% else %>
            <input class="form-control typeahead input-search bg-white typeahead-navbar border-right-0" style="border-radius: 5px 0px 0px 5px;" type="search" placeholder="Search..." aria-label="Search" name="q" value="<%= @query %>" autocomplete="off" id="search_input">
          <% end %>
          <div class="input-group-append">
            <button class="btn btn-outline-light" type="submit" style="border-color: #cfd4d9; color: #aaa;"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>


      <% if user_signed_in?  %>

        <!-- <a href="<%= new_user_repository_path(current_user) %>" class="btn btn-outline-secondary" type="submit" style="border: none;"><i class="fa fa-search"></i></a> -->

        <li class="nav-item collapse show" id="btn_magnifier_nav_item" >
          <!-- <a class="nav-link" href="#search" data-toggle="collapse" data-target="#search" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="btn_magnifier"> -->
          <a class="nav-link" id="btn_magnifier" style="cursor: pointer;">
            <i class="fa fa-search mr-2" style="color: rgba(0,0,0,0.25)" id="btn_magnifier_magnifier" ></i>
          </a>
        </li>

        <li class="nav-item mr-2">
          <%= link_to("+ Add repository", new_user_repository_path(current_user), class: 'nav-link') %>
          <!-- <a href="#" class="btn btn-success btn-sm my-3 my-sm-0 mr-2"> <i class="fa fa-plus ml-1 text-white"></i> Add </a> -->
        </li>



        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong><%= current_user.slug %></strong>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to('Profile', current_user, class: 'dropdown-item') %>
            <%= link_to('Billing', plans_path, class: 'dropdown-item') %>
            <%= link_to('Settings', current_user, class: 'dropdown-item') %>
            <div class="dropdown-divider"></div>
            <%= link_to('SSH Keys', current_user, class: 'dropdown-item') %>
            <!-- <div class="d-none d-md-block"> -->
              <div class="dropdown-divider"></div>
              <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure you want to sign out of Lint.dev?' }) %>
            <!-- </div> -->
          </div>
        </li>
        <!-- <li class="nav-item">
          <%= link_to(current_user.slug, current_user, class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: 'nav-link', data: { confirm: 'Are you sure to sign out of Lint.dev?' }) %>
        </li> -->
      <% else %>
        <li class="nav-item">
          <%= link_to("Sign in", new_user_session_path, class:'btn btn-outline-dark btn-block-sm-only btn-block-xs-only ml-md-2') %>
        </li>
        <li class="nav-item">
          <%= link_to("Sign up", new_user_registration_path, class:'btn btn-dark btn-block-sm-only btn-block-xs-only ml-md-2') %>
        </li>
      <% end %>
    </ul>

  </div>


</nav>






<script type="text/javascript">

$("body").click(function(evt){
  console.log('1 you clicked on button #' + evt.target.id);
  if(evt.target.id == "btn_magnifier") return;
  if(evt.target.id == "btn_magnifier_magnifier") return;
  if(evt.target.id == "search") return;
  if(evt.target.id == "navbar") return;
  console.log('2 you clicked on button #' + evt.target.id);
  if($(evt.target).closest('#search').length) return;
  console.log('3 you clicked on button #' + evt.target.id);
  // alert('you clicked on button #' + evt.target.id);
  $("#search").collapse('hide');
  $("#btn_magnifier_nav_item").collapse('show');
  // $("#btn_magnifier_nav_item").collapse('show');
});

$("#btn_magnifier, #btn_magnifier_magnifier").click(function(evt){
  $("#btn_magnifier_nav_item").collapse();
  $("#search").collapse('toggle');
  $("#btn_magnifier_nav_item").collapse('hide');
  // $("#search_input").focus();
  setTimeout(function(){
    $("#search_input").focus();
  }, 100);
});


// $('body').click(() => {
//   var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
//   alert('you clicked on button #' + clickedBtnID);
// })

// $(document).on("click","body", function () {
//    var clickedBtnID = $(this).attr('id'); // or var clickedBtnID = this.id
//    alert('you clicked on button #' + clickedBtnID);
// });

</script>





<script type="text/javascript">
  // Twitter typeahead example.

  var repositories = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('uuid'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/repositories.json',
    remote: {
      url: '/repositories.json?q=%QUERY',
      wildcard: '%QUERY'
    }
  });
  repositories.initialize(); // initialize the bloodhound suggestion engine

  <% if user_signed_in? %>
  var myRepositories = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('uuid'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/<%= current_user.slug %>/repositories.json',
    remote: {
      url: '/<%= current_user.slug %>/repositories.json?q=%QUERY',
      wildcard: '%QUERY'
    }
  });
  myRepositories.initialize(); // initialize the bloodhound suggestion engine
  <% end %>


  // instantiate the typeahead UI
  $('.navbar .typeahead').typeahead({
    highlight: true,
    minLength: 0,
  }, {
    <% if user_signed_in? %>
    display: 'uuid',
    // source: myRepositories,
    source: myRepositories.ttAdapter(),
    limit: 5,
    templates: {
      header: '<h6 class="px-3 text-muted bg-light py-2 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;">MY REPOSITORIES</h6>',
      empty: [
        '<h6 class="px-3 text-muted bg-light py-2 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;">MY REPOSITORIES</h6>',
        '<div class="text-md-center pt-3 pb-3 pt-md-4 pb-md-4 text-muted">',
          '<p class="px-3 mb-0">No result</p>',
        '</div>'
      ].join('\n'),
    }
  }, {
    <% end %>
    display: 'uuid',
    // source: repositories,
    source: repositories.ttAdapter(),
    limit: 5,
    templates: {
      header: '<h6 class="px-3 text-muted bg-light py-2 mt-1 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;">PUBLIC REPOSITORIES</h6>',
      empty: [
        '<h6 class="px-3 text-muted bg-light py-2 mt-1 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;">PUBLIC REPOSITORIES</h6>',
        '<div class="text-md-center pt-3 pb-3 pt-md-4 pb-md-4 text-muted">',
          '<p class="px-3 mb-0">No result</p>',
        '</div>'
      ].join('\n'),
      // suggestion: Handlebars.compile('<div><strong>{{uuid}}</strong> – {{slug}}</div>')
    }
  }).on('typeahead:selected', function(val) {
    // $("form#search").submit()
    window.location = `/${$('#search_input').val()}`
  });
</script>
