
<nav class="navbar navbar-expand-md navbar-light bg-light navbar-marketing">
  <a class="navbar-brand mr-0 mr-md-3" href="<%= root_path %>">
    <!-- <img src="/images/omnilint-logo.png" width="30" height="30" class="d-inline-block align-top" alt="Lint.dev Logo"> -->
    <!-- <img src="/images/omnilint-logo-circled@2x.png" width="36" height="36" class="d-inline-block align-top" alt="Lint.dev Logo"> -->
    <img src="/images/logo/omnilint-logo.svg" width="32" height="32" class="d-inline-block align-top" alt="Lint.dev Logo">

  </a>



  <form class="form-inline form-search input-search mr-0 mr-md-2" id="search" action="/repositories" autocomplete="off">
    <div class="input-group" id="scrollable-dropdown-menu">
      <% if !params["q"].blank? %>
        <input class="form-control typeahead input-search bg-white typeahead-navbar border-right-0" style="border-radius: 5px 0px 0px 5px;" type="search" placeholder="<%= params['q'] %>" aria-label="Search" name="q" value="<%= @query %>" autocomplete="off" id="search_input">
      <% else %>
        <input class="form-control typeahead input-search bg-white typeahead-navbar border-right-0" style="border-radius: 5px 0px 0px 5px;" type="search" placeholder="Search..." aria-label="Search" name="q" value="<%= @query %>" autocomplete="off" id="search_input">
      <% end %>
      <div class="input-group-append">
        <!-- <button class="btn btn-outline-secondary" type="submit" style="border-color: #cfd4d9;"><i class="fa fa-search"></i></button> -->
        <button class="btn btn-outline-light" type="submit"  style="border-color: #cfd4d9; color: #aaa;"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbarSupportedContent search" aria-expanded="false" aria-label="Toggle navigation" style="border: none; opacity: 0.5;">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">


    <ul class="navbar-nav mr-auto">


      <% if current_page?(root_path) || current_page?(home_path) %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Home</a>
        </li>
      <% end %>

      <% if current_page?(apps_path) %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= apps_path %>">Apps <span class="sr-only">(current)</span></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= apps_path %>">Apps</a>
        </li>
      <% end %>

      <% if current_page?(pricing_path) %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= pricing_path %>">Pricing <span class="sr-only">(current)</span></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= pricing_path %>">Pricing</a>
        </li>
      <% end %>

      <% if current_page?(faq_path) %>
        <li class="nav-item active">
          <a class="nav-link" href="<%= faq_path %>">Help <span class="sr-only">(current)</span></a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= faq_path %>">Help</a>
        </li>
      <% end %>

    </ul>


    <ul class="navbar-nav ml-auto mt-2 mt-md-0">
      <% if user_signed_in?  %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong><%= current_user.slug %></strong>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to('Profile', current_user, class: 'dropdown-item') %>
            <%= link_to('Billing', current_user, class: 'dropdown-item') %>
            <%= link_to('Settings', current_user, class: 'dropdown-item') %>
            <div class="dropdown-divider"></div>
            <%= link_to('SSH Keys', current_user, class: 'dropdown-item') %>
            <!-- <div class="d-none d-md-block"> -->
              <div class="dropdown-divider"></div>
              <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure you want to sign out of Lint.dev?' }) %>
            <!-- </div> -->
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to("Sign in", new_user_session_path, class:'btn btn-outline-dark btn-block-sm-only btn-block-xs-only ml-md-2') %>
        </li>
        <% if defined? user_registration_path %>
        <li class="nav-item">
          <%= link_to("Sign up", new_user_registration_path, class:'btn btn-dark btn-block-sm-only btn-block-xs-only ml-md-2') %>
        </li>
        <% end %>
      <% end %>
    </ul>

  </div>


</nav>






<script type="text/javascript">
  // Twitter typeahead example.

  var users = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('slug'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/users.json',
    remote: {
      url: '/users.json?q=%QUERY',
      wildcard: '%QUERY'
    }
  });
  users.initialize(); // initialize the bloodhound suggestion engine


  var repositories = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('uuid'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/repositories.json',
    remote: {
      url: '/repositories.json?q=%QUERY',
      wildcard: '%QUERY'
    }
  });
  repositories.initialize(); // initialize the bloodhound suggestion engine

  <% if user_signed_in? %>
  var myRepositories = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('uuid'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '/<%= current_user.slug %>/repositories.json',
    remote: {
      url: '/<%= current_user.slug %>/repositories.json?q=%QUERY',
      wildcard: '%QUERY'
    }
  });
  myRepositories.initialize(); // initialize the bloodhound suggestion engine
  <% end %>


  // instantiate the typeahead UI
  $('.navbar .typeahead').typeahead({
    highlight: true,
    minLength: 0,
    <% if user_signed_in? %>
  }, {
    display: 'uuid',
    // source: myRepositories,
    source: myRepositories.ttAdapter(),
    limit: 3,
    templates: {
      header: '<h6 class="px-3 text-muted bg-light py-2 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;"><i class="fa fa-folder mr-1"></i> MY REPOSITORIES</h6>',
      empty: [
        '<h6 class="px-3 text-muted bg-light py-2 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;"><i class="fa fa-folder mr-1"></i> MY REPOSITORIES</h6>',
        '<div class="text-md-center py-2 text-muted">',
          '<p class="px-3 mb-0">No result</p>',
        '</div>'
      ].join('\n'),
    }
    <% end %>
  }, {
    display: 'uuid',
    // source: repositories,
    source: repositories.ttAdapter(),
    limit: 3,
    templates: {
      header: '<h6 class="px-3 text-muted bg-light py-2 mt-1 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;"><i class="fa fa-globe mr-1"></i> PUBLIC REPOSITORIES</h6>',
      empty: [
        '<h6 class="px-3 text-muted bg-light py-2 mt-1 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;"><i class="fa fa-globe mr-1"></i> PUBLIC REPOSITORIES</h6>',
        '<div class="text-md-center py-2 text-muted">',
          '<p class="px-3 mb-0">No result</p>',
        '</div>'
      ].join('\n'),
      // suggestion: Handlebars.compile('<div><strong>{{uuid}}</strong> – {{slug}}</div>')
    }
  }, {
    display: 'slug',
    // source: repositories,
    source: users.ttAdapter(),
    limit: 3,
    templates: {
      header: '<h6 class="px-3 text-muted bg-light py-2 mt-1 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;"><i class="fa fa-users mr-1"></i> USERS</h6>',
      empty: [
        '<h6 class="px-3 text-muted bg-light py-2 mt-1 mb-1" style="border-bottom: 1px solid #ddd; border-top: 1px solid #cfd4d9; font-size: 12px;"><i class="fa fa-users mr-1"></i> USERS</h6>',
        '<div class="text-md-center py-2 text-muted">',
          '<p class="px-3 mb-0">No result</p>',
        '</div>'
      ].join('\n'),
      // suggestion: Handlebars.compile('<div><strong>{{uuid}}</strong> – {{slug}}</div>')
    }
  }).on('typeahead:selected', function(val) {
    // $("form#search").submit()
    window.location = `/${$('#search_input').val()}`
  });
</script>
