
<nav class="navbar navbar-expand-md navbar-light bg-white navbar-dashboard">
  <div class="container">

    <% if current_page?(root_path) || current_page?(dashboard_path) %>
      <a class="navbar-brand mr-0 mr-md-3" href="<%= prelaunch_path %>">
        <img src="/images/logo/logo-shield-circle-only-simple.svg" width="32" height="32" class="d-inline-block align-top" alt="Omnilint Logo">
      </a>
    <% else %>
      <a class="navbar-brand mr-0 mr-md-3" href="<%= root_path %>">
        <img src="/images/logo/logo-shield-circle-only-simple.svg" width="32" height="32" class="d-inline-block align-top" alt="Omnilint Logo">
      </a>
    <% end %>

    <%#= render "search/search_light" %>







    <ul class="navbar-nav mx-auto">

        <li class="nav-item <% if current_page?(root_path) || current_page?(dashboard_path) %>active <% end %>">
          <a href="/" class="nav-link">Home</a>
        </li>
      <%= render "layouts/repository_selector" %>
    </ul>


    <button class="navbar-toggler p-1" type="button" data-toggle="collapse" data-target=".collapse" aria-controls="navbarSupportedContent search" aria-expanded="false" aria-label="Toggle navigation" style="border: none; opacity: 0.5;">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav ml-auto">

        <% if user_signed_in?  %>

          <% if current_page?(new_user_repository_path(current_user)) %>
            <li class="nav-item active">
              <%= link_to("+ Add repository", new_user_repository_path(current_user), class: 'nav-link') %>
            </li>
          <% else %>
          <li class="nav-item">
            <%= link_to("+ Add repository", new_user_repository_path(current_user), class: 'nav-link') %>
          </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- <strong><%= current_user.slug %></strong> -->
              <% if current_user.avatar_url.present? %>
                <img src="<%= current_user.avatar_url %>" alt="<%= current_user %>" style="width: 24px; height: 24px; float: left; border-radius: 15px;">
              <% else %>
                <span class="fa fa-user"></span>
              <% end %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to("Logged in as: <strong>#{current_user}</strong>".html_safe, current_user, class: 'dropdown-item') %>
              <div class="dropdown-divider"></div>
              <%= link_to('Profile', current_user, class: 'dropdown-item') %>
              <%= link_to('Billing', plans_path, class: 'dropdown-item') %>
              <%# link_to('Security', current_user, class: 'dropdown-item') %>
              <%= link_to('Policies', user_policies_path(current_user), class: 'dropdown-item') %>
              <%= link_to('Teams', user_teams_path(current_user), class: 'dropdown-item') %>
              <%= link_to('Organizations', user_organizations_path(current_user), class: 'dropdown-item') %>

              <% if user_signed_in? && current_user.role == 'admin' %>
                <div class="dropdown-divider"></div>
                <%= link_to('Admin', admin_path,  class: 'dropdown-item', target: "_blank") %>
              <% end %>

              <% if !browser.platform.ios_app? && !browser.platform.android_app? && !browser.electron? %>
                <div class="dropdown-divider"></div>
                <%= link_to("Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure you want to sign out of Omnilint?' }) %>
              <% end %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to("Sign in", new_user_session_path, class:'btn btn-outline-dark btn-block-sm-only btn-block-xs-only ml-md-2') %>
          </li>
          <li class="nav-item">
            <%= link_to("Sign up", new_user_registration_path, class:'btn btn-dark btn-block-sm-only btn-block-xs-only ml-md-2') %>
          </li>
        <% end %>
      </ul>

    </div>

  </div>
</nav>
