<% if current_user.present? && current_user.repositories_with_access.length > 0 %>

  <li class="nav-item dropdown active">
    <% if @repository.present? && @repository.uuid.present? %>
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        <!--
        <%# if @repository.platform.present? %>
        <img src="<%#= @repository.platform.image_url %>" width="30" height="30" class="d-inline-block align-top mr-1" alt="Lint Logo" style="border-radius: 5px; margin-top: -1px;">
        <%# else %>
        <img src="/images/platformicons/svg/generic.svg" width="30" height="30" class="d-inline-block align-top mr-1" alt="Lint Logo" style="border-radius: 5px; margin-top: -1px;">
        <%# end %>
         -->

        <span class="">
        <%= @repository.pretty_uuid_html.html_safe %>
        </span>
      </a>
    <% else %>
      <a class="nav-link dropdown-toggle text-muted" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select repository
      </a>
    <% end %>
    <div class="dropdown-menu main-dropdown-menu" aria-labelledby="navbarDropdown">
      <% current_user.repositories_with_access.order(updated_at: :desc).each do |repository| %>

        <!-- <%# <a href="<%= user_repository_path(current_user, repository) %>" class="dropdown-item"> %>-->


        <% if controller.controller_name == "commit_attempts" %>
        <a href="<%= user_repository_commit_attempts_path(current_user, repository) %>" class="dropdown-item">
        <% elsif controller.controller_name == "commits" %>
        <a href="<%= user_repository_commits_path(current_user, repository) %>" class="dropdown-item">
        <% elsif controller.controller_name == "commit_attempts" %>
          <a href="<%= user_repository_commit_attempts_path(current_user, repository) %>" class="dropdown-item">
        <% elsif controller.controller_name == "repositories" && controller.action_name == "repository_policies" %>
          <a href="<%= policy_user_repository_path(current_user, repository) %>" class="dropdown-item">
        <% elsif controller.controller_name == "repositories" && controller.action_name == "settings" %>
          <a href="<%= user_repository_settings_path(current_user, repository) %>" class="dropdown-item">
        <% elsif controller.controller_name == "repository_accesses" %>
          <a href="<%= user_repository_repository_accesses_path(current_user, repository) %>" class="dropdown-item">
        <% else %>
          <a href="<%= user_repository_path(current_user, repository) %>" class="dropdown-item">
        <% end %>

          <% if repository.platform.present? %>
            <img src="<%= repository.platform.image_url %>" alt="<%= repository.platform %>" style="width: 24px; height: 24px; border-radius: 4px; margin-right: 5px;" />
          <% else %>
            <img src="/images/platformicons/svg/generic.svg" alt="<%= repository.platform %>" style="width: 24px; height: 24px; border-radius: 4px; margin-right: 5px;" />
          <% end %>

          <%= repository.pretty_uuid_html.html_safe %>

          <% if repository.status == 'Private' %>
            <i class="fa fa-eye-slash text-muted ml-1"></i>
          <% end %>

          <%# if repository.has_encryption %>
            <!-- <i class="fa fa-lock text-muted"></i> -->
          <%# end %>

          <% if repository.github_created_at.present? %>
            <i class="fa fa-github text-muted"></i>
          <% end %>

          <% if repository.policy.present? %>
            <i class="fa fa-shield text-muted"></i>
          <% end %>

          <% if repository.has_autofix.present? %>
            <i class="fa fa-wrench text-muted"></i>
          <% end %>

          <small>
            <% if repository.requires_two_step_authentication %>
              <i class="fa fa-shield text-muted"></i>
            <% end %>
            <% if repository.has_deployment %>
              <i class="fa fa-desktop text-muted"></i>
            <% end %>
          </small>
        </a>
      <% end %>
    </div>
  </li>
<% end %>
