<!DOCTYPE html>
<html>
  <head>

    <title>Lint.dev</title>
    <meta name="Description" content="Lint.dev is a pre-commit, multi-language code analyzer.">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111111">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:image:height" content="1106">
    <meta property="og:image:width" content="2113">
    <meta property="og:title" content="Lint.dev - Pre-commit code linter">
    <meta property="og:description" content="Lint.dev helps developers find and fix code issues.">
    <meta property="og:url" content="https://www.omnilint.com">
    <meta property="og:image" content="https://www.omnilint.com/og-image.jpg">


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style media="screen">
      <% if devise_controller? %>
      body {
        padding-top: 0 !important;
      }
      <% end %>
      /* .navbar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        border-top: 4px solid #333;
      } */
    </style>








    <% if Rails.env.production? %>


      <!-- Global site tag (gtag.js) - Google Ads: 1041457492 -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1041457492"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'AW-1041457492');
      </script>



      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8071166-23"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-8071166-23');
      </script>


      <!-- Facebook Pixel Code -->
      <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1705227696356899');
        fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1705227696356899&ev=PageView&noscript=1"
      /></noscript>
      <!-- End Facebook Pixel Code -->



      <!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        // js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v3.2&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your customer chat code -->
      <div class="fb-customerchat"
        attribution=install_email
        page_id="595034137620067"
        theme_color="#0084ff">
      </div>

    <% end %>




  </head>


  <body class="bg-light">

    <% if !devise_controller? %>
      <% if current_user.present? %>
        <%= render "layouts/navbar-dashboard-light" %>
      <% else %>
        <%= render "layouts/navbar-light" %>
      <% end %>
    <% end %>

    <% if notice.present? %>
      <div class="alert alert-success my-0 text-center bg-bottom" style="border-radius: 0; border-left: none; border-right: none;">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-info my-0 text-center bg-bottom" style="border-radius: 0; border-left: none; border-right: none;">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <% if !devise_controller? %>
      <%= render "layouts/footer" %>
    <% end %>



  </body>
</html>
