<!DOCTYPE html>
<html>
  <head>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="google-site-verification" content="5N5dOuuBYRjKp77qJYBWKdxtRzCNy_7pZhb7RZbu_KE" />

    <title>Omnilint</title>
    <meta name="Description" content="Omnilint is a tool improving the workflow of developers dealing with multiple git repositories, execute batch git commands, scan computers for repositories and track shared components.">

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8071166-22"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-8071166-22');
    </script>


    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style media="screen">
      <% if devise_controller? %>
      body {
        padding-top: 0 !important;
      }
      <% end %>
      /* .navbar {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        border-top: 4px solid #333;
      } */
    </style>
  </head>


  <body class="bg-omnilint">
    <% if controller.controller_name == "pages" && controller.action_name != "available_soon" %>
      <%= render "layouts/navbar-prelaunch" %>
    <% end %>

    <% if notice.present? %>
      <div class="alert alert-success my-0 text-center bg-bottom" style="border-radius: 0; border-left: none; border-right: none;">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert alert-info my-0 text-center bg-bottom" style="border-radius: 0; border-left: none; border-right: none;">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <% if controller.controller_name == "pages" && controller.action_name != "available_soon"%>
      <%= render "layouts/footer" %>
    <% end %>


  </body>
</html>
